.b-admin-content
  .b-admin-content-title Waiting for your approval:
  .list
    .list-header
      = render :partial => "navigations"
      .list-content
        - if @items.present?
          - @items.each do |item|
            = link_to moderator_item_path(item), :class => "item", :remote => true do
              .media= image_tag '/assets/tmp/p2.png'
              .text= item.description.truncate(120, :separator => " ")
          .clear
          = paginate @items, :remote => true

        - else
          .no-items No items

        .clear