.b-admin-content
  .b-admin-content-title Waiting for your approval:
  .list
    .list-header
      = render :partial => "navigations"
      .list-content
        .b-admin-content-body.video
          .preview
            = image_tag '/assets/tmp/p5.png'
          .body
            = image_tag('/assets/logo.png', :width => '200')
            %h2= @item.title

            = @item.description
          .clear
        .b-admin-content-tools
          = form_for(Message.new, :url => deny_moderator_item_path(@item), :remote => :true) do |f|
            %p= f.text_area :body, :placeholder => 'Deny reasons'
        
            = link_to 'Confirm', confirm_moderator_item_path(@item), :class => 'light-button confirm no-history', :remote => true
            = f.submit 'Deny', :class => 'light-button deny'