.b-admin-content
  .b-admin-content-title Waiting for your approval:
  .list
    .list-header
      = render :partial => "navigations"
      .list-content
        .b-admin-content-body.video
          .preview
            = image_tag '/assets/tmp/p5.png'
          .body
            = image_tag('/assets/logo.png', :width => '200')
            %h2= @item.title

            = @item.description
          .clear
        .b-admin-content-keywords
          .b-admin-content-subtitle Keywords:

          = form_for @item, :remote => :true do |f|
            = hidden_field_tag "type", "change_keywords"
            = text_area_tag :tag_list, "", :rows => 3, :class => "keywords-textarea"
            %p= f.submit "Update keywords", :class => "light-button green"

        .b-admin-content-tools
          .b-admin-content-subtitle Deny reason:
          = form_for(Message.new, :url => deny_moderator_item_path(@item), :remote => :true) do |f|
            %p= f.text_area :body, :placeholder => 'Deny reasons'

            = link_to 'Confirm', confirm_moderator_item_path(@item), :remote => true, :class => 'light-button confirm no-history'
            = f.submit 'Deny', :class => 'light-button deny'
        = imperavi :message_body, {:lang => 'en', :toolbar => 'mini'}

:javascript
  $('#tag_list').textext({
    plugins : 'autocomplete tags ajax',
    tagsItems: #{@item.tag_list.to_json},
    ajax : {
        url : '#{tags_items_path}',
        dataType : 'json',
        cacheResults : true
    }
  });
