%li{:id => "comment-#{comment.id}"}
  = image_tag comment.user.avatar_url(:thumb_60), :width => '60', :height => '60'
  .body
    %b= "#{comment.user.full_name}:"
    %span= comment.body
  .clear
  
  .like-container 
    - unless current_user.voted_for? comment
      = link_to '+', item_comment_vote_up_path(comment.commentable_id, comment),:remote => true ,:class => 'dark-button' 
    .votes= comment.votes.size