- unless comment.id.blank?
  %li{:id => "comment-#{comment.id}"}
    = link_to image_tag(comment.user.avatar_url(:thumb_60), :width => '60', :height => '60', :class => "popup-user-info", :id => "popup-user-#{comment.user.id}"), user_path(comment.user)
    .body
      %b= link_to "#{comment.user.full_name}, #{comment.user.profession_and_degree}:", user_path(comment.user)
      %span= comment.body
    .clear

    .like-container
      - if user_signed_in? and current_user.role?("doctor") and !current_user.voted_for?(comment)
        = link_to '+', item_comment_vote_up_path(comment.commentable_id, comment),:remote => true ,:class => 'dark-button no-history'
      .votes= comment.votes.size