%h2.title Describe your item
.b-file-description
  .preview
    = image_tag(@item.attachment_thumb, :class => "item-thumb")
  .b-upload__form
    .row
      = f.label :title, :class => "label"
      = f.text_field :title
    .row.abstract
      = f.label :description, "Abstract", :class => "label"
      = f.text_area :description
    .row
      = label :tag_list, "Keywords", :class => "label"
      .b-tags
        = text_area_tag :tag_list, "", :rows => 1
      .clear
      .text-hint Press "Enter" keyboard button to submit new or use existing keyword
    .row
      = f.label "Communities", class: "label"
      -#.community_list
      .b-tags
        - current_user.communities.each do |c|
          .community_elem
            = check_box_tag("item[community_ids][]", c.id, @item.community_ids.include?(c.id), id: "cb_#{dom_id(c)}", class: "community_checkbox") 
            %label{ class: "community_label #{c.slug}", for: "cb_#{dom_id(c)}"} 



  :javascript
    $('#tag_list').textext({
      plugins : 'autocomplete tags ajax',
      tagsItems: #{@item.tag_list.to_json},
      ajax : {
          url : '#{tags_items_path}',
          dataType : 'json',
          cacheResults : true
      }
    }).bind('tagClick', function(e, tag, value, callback)
        {
            var newValue = window.prompt('Edit tag', value);
            if(newValue)
                callback(newValue);
    }).bind('keypress', function(event)
        {
            if(event.which === 44)
            {
              $('#tag_list').textext()[0].tags().addTags([ $('#tag_list').val() ]);
              $('#tag_list').val('');
              event.preventDefault();
            }
    });

    $('.b-upload-item__navigation .additional').click(function() {
      $('.b-upload-item__step form').submit();
      if ($('.b-upload-item__step form .field_with_errors').length)
        return false;
    });