.b-upload-item__title
  %b Describe your item

= form_for @item, :validate => true, :remote => true do |f|
  = hidden_field_tag "step", "additional"
  .row
    = f.label :title, :class => "label"
    = f.text_field :title
  .row.abstract
    = f.label :description, "Abstract", :class => "label"
    = f.text_area :description
  .row
    = label :tag_list, "Keywords", :class => "label"
    .textarea
      = text_area_tag :tag_list, "", :rows => 1
    .clear
    .text-hint Press "Enter" keyboard button to submit new or use existing keyword

  :javascript
    $('#tag_list').textext({
      plugins : 'autocomplete tags ajax',
      tagsItems: #{@item.tag_list.to_json},
      ajax : {
          url : '#{tags_items_path}',
          dataType : 'json',
          cacheResults : true
      }
    });

    $('.b-upload-item__navigation .additional').click(function() {
      $('.b-upload-item__step form').submit();
      if ($('.b-upload-item__step form .field_with_errors').length)
        return false;
    });