.fl-l{:style => "width:900px"}
  #inscription

  = button_tag(:id => 'start_record_button',:type => 'button', :onclick => "ins.record.start('#{@uuid}.flv')") do
    = content_tag(:strong, 'Start record')

  = button_tag(:id => 'play_button',:type => 'button', :onclick => "ins.movie.play()") do
    = content_tag(:strong, 'Play')

  .b-upload-item
    .b-upload-item__title.hr Choose thumbnail

  .b-upload-item__presenter-video

    = label_tag "pos_br", "" do
      = radio_button_tag "pos", "br", true, :title => "bottom right"
      = image_tag "video/presenter-video-rb.jpg"

    = label_tag "pos_tl", "" do
      = radio_button_tag "pos", "tl", false, :title => "top left"
      = image_tag "video/presenter-video-lt.jpg"

    = label_tag "pos_mr", "" do
      = radio_button_tag "pos", "mr", false, :title => "middle right"
      = image_tag "video/presenter-video-r.jpg"

    = label_tag "pos_ml", "" do
      = radio_button_tag "pos", "ml", false, :title => "middle left"
      = image_tag "video/presenter-video-l.jpg"

:javascript
  var ins, playbackPoints={};
  $(function(){
      ins = Inscription.run({
          container: 'inscription',
          player: {
              resource: "#{secure_link(@a_video, @a_video.file.mp4.url)}",
              server: 'rtmp://89.209.76.243'
          }
      });

      ins.on('load', function() {
          console.log('loaded');
          setTimeout(function() {
            var points = Inscription.Point.read("#{@a_video.timing}");
            _.each(points, function(point) {
                ins.point.add(point);
                console.log('Added point: ' + point + ' ms...');
            });
          }, 5000);

      });

      var callback = function() {
          console.log(arguments);
      }

      var playCallback = function(cuePoints){
        id = _.size(playbackPoints)
        playbackPoints[id]["stop"] = hmsToSeconds(cuePoints[0][0]);
        playbackPoints[id]["pause_duration"] = hmsToSeconds(cuePoints[0][1]/1000);
        $("#play_button").attr("disabled","true");
      }

      var pauseCallback = function(){
        $("#play_button").removeAttr('disabled');
      }

      ins.on('play',  playCallback);
      ins.on('stop',  callback);
      ins.on('pause', pauseCallback);
      ins.on('tick',  callback);
  });