:javascript
  Recorder.initialize({fileName: "#{@uuid}.flv", resourceLink: "#{secure_link(@a_video, @a_video.file.mp4.url)}", requestUrl: "#{item_merge_presenter_video_url(@item)}", timing: "#{@a_video.timing}", videoId: "#{@a_video.id}"})

.fl-l{:style => "width:900px"}
  #inscription

  = button_tag(:id => 'start_record_button', :type => 'button', :disabled => true, :onclick => "Recorder.startRecord()") do
    = content_tag(:strong, 'Start record')

  = button_tag(:id => 'play_button',:type => 'button', :onclick => "Recorder.ins.movie.play()", :disabled => true) do
    = content_tag(:strong, 'Play')

  = button_tag(:id => 'sync_button',:type => 'button', :onclick => "Recorder.mergeFunc()", :disabled => true) do
    = content_tag(:strong, 'Sync')

  .b-upload-item
    .b-upload-item__title.hr Choose thumbnail

  .b-upload-item__presenter-video

    = label_tag "pos_br", "" do
      = radio_button_tag "pos", "br", true, :title => "bottom right"
      = image_tag "video/presenter-video-rb.jpg"

    = label_tag "pos_tl", "" do
      = radio_button_tag "pos", "tl", false, :title => "top left"
      = image_tag "video/presenter-video-lt.jpg"

    = label_tag "pos_mr", "" do
      = radio_button_tag "pos", "mr", false, :title => "middle right"
      = image_tag "video/presenter-video-r.jpg"

    = label_tag "pos_ml", "" do
      = radio_button_tag "pos", "ml", false, :title => "middle left"
      = image_tag "video/presenter-video-l.jpg"
