.b-colleagues
  %h3
    Your Colleagues
  - if current_user.role? "doctor"
    .light-button.send-message.green#send-message-dialog
      %b Send
      your followers a message
  .clear

  .list
    .list-header
      .nav.account
        = link_to users_path(:tab => "followers"), :class => "pjax followers #{ 'selected' if @tab == 'followers'}" do
          %span
          Followers
        = link_to users_path(:tab => "published_together"), :class => "pjax published-together #{ 'selected' if @tab == 'published_together'}" do
          %span
          Published
          %br
          together
        = link_to users_path(:tab => "following"), :class => "pjax following #{ 'selected' if @tab == 'following'}" do
          %span
          Following
        = link_to users_path(:tab => "patients"), :class => "pjax patients #{ 'selected' if @tab == 'patients'}" do
          %span
          Patients
      .filter.account
        .field
          = form_for "", :url => search_users_path, :remote => true, :method => :get do |f|
            .tags
              .label Filter by
              -if @tab != 'patients'
                = f.select "", ['Degree','Degree']
                = f.select "", ['Location','Location']
                = f.select "", ['Specialization','Specialization']
                = f.select "", ['Num’ of publishing','Num’ of publishing']
              - elsif @tab == 'patients'
                = f.select "", ['Location','Location']

              .clear
            .search
              = f.text_field "q", :value => params[:q] ,:placeholder => 'Free search', :class => 'text-input', :id => "qsearch"
              = f.hidden_field "filter_type" , :value => "#{@tab}"
              = f.submit 'Go', :class => 'dark-button'
            .clear
      .clear
      .list-content
        = render :partial => "collegues_list", :locals => {:users => @users}

  %div{ :id => "send-message", :title=>"Send message to your followers", :style=>"display:none;" }
    %p
      %textarea

- if current_user.role? "doctor"
  :javascript
    $( "#send-message:ui-dialog" ).dialog( "destroy" );

    $( "#send-message" ).dialog({
      resizable: false,
      autoOpen: false,
      width: 400,
      modal: true,
      buttons: {
        "Send message": function() {
          $.ajax({
            type: 'POST',
            url: '#{user_send_message_to_followers_path(current_user)}',
            data: { 'message': {'body': $( "#send-message>p>textarea")[0].value } },
            dataType: 'script'
          });
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });

    $( "#send-message-dialog" ).click(function() {
      $( "#send-message" ).dialog( "open" );
      return false;
    });


:javascript
  changeNavigationTab(".tab-collegues");