.b-user-list
  - items.each_slice(4) do |slice|
    - slice.each do |item|
      - if show_popup
        = link_to item_path(item), :class => 'item' do
          = image_tag item.attachment_thumb, :width => '135', :height => '100', :class => "#{'popup-item-info' if show_popup}", :id => "popup-item-#{item.id}"
          %b= item.title
          = item.description.truncate(150, :separator => " ")
      - else
        .item
          = image_tag item.attachment_thumb, :width => '135', :height => '100', :class => "#{'popup-item-info' if show_popup}", :id => "popup-item-#{item.id}"
          %b= item.title
          = item.description.truncate(150, :separator => " ")
    .clear