.b-popup-user-info.popup-container{:class => "popup-user-#{user.id}"}
  .container
    .user-info
      = image_tag user.avatar_url(:thumb_70), :alt => "#{user.full_name}"
      %span.title= user.full_name
    - if user != current_user
      .following-tools{:class => "tools-user-#{@user.id}"}
        = render :partial => "users/following", :locals => { :user => @user }

    .panel
      - unless user.specialization.blank?
        %p
          %b Specialization:
          = user.specialization.truncate(150, :separator => " ")

      - if user != current_user
        %p
          %b Send a message:
          you can send a message directly to email about
          professional question

        = render :partial => 'send_message', :locals => {:user => user}

    - if user.items.state_is("published").present?
      .panel
        %p
          %b Publications:
        .publication-container
          %ul
            - user.items.state_is("published").each do |item|
              %li= link_to item.title.truncate(65, :separator => " "), item_path(item), :class => "publication-item"
    .clear

  %p.right= link_to '', user_path(user), :class => 'pjax btn go-to-profile'
  .corner