.b-popup-user-info.popup-container.left{:class => "popup-user-#{user.id}"}
  .container
    .user-info
      = image_tag user.avatar_url(:thumb_70), :alt => "#{user.full_name}"
      %span.title= user.full_name
    - if user != current_user  
      .tools
        - if current_user.following?(user)
          = render :partial => "follows/unfollow", :locals => {:path => user_unfollow_path(user)}
        - else
          = render :partial => "follows/follow", :locals => {:path => user_follow_path(user)}          
    
    .panel
      - unless user.specialization.blank?
        %p
          %b Specialization:
          = user.specialization

      - if user != current_user
        %p
          %b Send a massege:
          you can send a message directly to email about
          profesional question

        %p= text_area_tag 'description'

        %p.right= button_tag 'Send', :class => 'light-button send green'

    .panel
      %p
        %b Publication:
        you can send a message directly to email about
        profesional question you can send a message directly to email about
        profesional question
    .clear

  %p.right= link_to 'Go to profile', user_path(user), :remote => :true, :class => 'light-button go-to-profile'
  .corner