.b-user
  .b-user-content
    .b-user-info
      .b-user-preview#upcontainer
        = link_to '#', :id => 'pickfiles' do
          = image_tag "#{user.avatar? ? user.avatar_url(:thumb_143) : '/assets/user-upload-photo.jpg'}", :class => "my-thumb_143"

        .spinner.hidden
        :javascript
          $(function(){
            var uploaderProfile = $.initPlupload({
              filters: [{ title: "Images files", extensions: "jpg,jpeg,png,JPG,JPEG,PNG"}],
              url: "#{user_upload_avatar_path(user)}"});
          })
      .hidden
        #colorbox
      .b-user-info-body
        = form_for(current_user, :remote => true, :validate => true) do |f|
          = hidden_field_tag "type", "profile"
          %h2.b-user-title= f.text_field :full_name

          %p
            %strong Birthday:
            = f.text_field :birthday, :value => date_format(current_user.birthday), :id => 'datepicker'
          - if current_user.role? "doctor"
            %p
              %strong Profession and degree:
              = f.text_field :profession_and_degree
            %p
              %strong Specialization:
              = f.text_area :specialization
          %p.right
            = f.submit '', :class => 'btn save'
            

      .clear

    - unless user.bio.blank?
      %h2 Medical Profile

      %p
        %strong Biography:
        = user.bio

      %br

    - if user.items.state_is("published").present?
      %h2 Publications
      = render :partial => 'list_of_items', :locals => {:items => user.items.state_is("published"), :show_popup => true}
      %br

    - if user.approvals.state_is("published").present?
      %h2 Approvals
      = render :partial => 'list_of_items', :locals => {:items => user.approvals.state_is("published"), :show_popup => true}

  = render :partial => 'sidebar', :locals => {:collaborators => collaborators, :show_popup => true}
.clear

%div{ :id => "popup-change-password", :title=>"Change Password", :style => "display: none" }
  = render :template => 'devise/registrations/edit', :locals => {:resource => @resource, :resource_name => resource_name }


:javascript
  $("#popup-change-password:ui-dialog").dialog ("destroy");

  $("#popup-change-password").dialog({
    autoOpen: false,
    resizable: false,
    width: 400,
    modal: true,
    buttons: {
      "Change my password": function() {
        $(this).find("form").submit();
      },
      Cancel: function() {
        $( this ).dialog( "close" );
      }
    }
  });

  $("#btn-change-password").click(function() {
    $("#popup-change-password").dialog( "open" );
    return false;
  });

  changeNavigationTab(".tab-profile");
  $("#datepicker").datepicker({
    onClose: function(dateText, inst) {
      $(inst.input).change().focusout(); },
    changeMonth: true,
    changeYear: true,
    yearRange: "-99:+0",
    maxDate: 0});
