.b-user
  .b-user-content
    .b-user-info
      .b-user-preview#upcontainer        
        = link_to '#', :id => 'pickfiles' do          
          = image_tag("#{user.avatar? ? user.avatar_url(:thumb_143) : '/assets/user-upload-photo.jpg'}")
          
        .spinner.hidden 
        :javascript
          $(function(){
            var uploaderProfile = $.initPlupload({url: "#{user_upload_avatar_path(user)}"+".json"});   
            })

      .b-user-info-body
        .form
          = form_for(current_user, :remote => true) do |f|
            = hidden_field_tag "type", "profile" 
            %h2.b-user-title= f.text_field :full_name
            
            %p
              %strong Birthday:
              = f.text_field :birthday, :value => date_format(current_user.birthday), :id => 'datepicker'        
            %p
              %strong Profession and degree 
              = f.text_field :profession_and_degree
            %p
              %strong Specialization:
              = f.text_area :specialization
            %p.right= f.submit 'Save', :class => 'light-button green'
        
      .clear    
    
    - unless user.bio.blank?
      %h2 Medical Profile
        
      %p
        %strong Biography:
        = user.bio

      %br
      
    - if user.items.present?   
      %h2 Publications      
      = render :partial => 'list_of_items', :locals => {:items => user.items}
      %br
    
      
    - if false 
      %h2 Approvals   
      = render :partial => 'list_of_items', :locals => {:items => user.items}



  .b-user-sidebar
    %h2.b-user-title Published with:
    %ul
      %li
        = image_tag '/assets/tmp/p6.png', :width => '60', :height => '60'
        .text
          %b Yossy Mendelovich
          Show at most this number of pages Show at most thiser 
          of pages of pages Show  
      %li
        = image_tag '/assets/tmp/p6.png', :width => '60', :height => '60'
        .text
          %b Yossy Mendelovich
          Show at most this number of pages Show at most thiser 
          of pages of pages Show  
      %li
        = image_tag '/assets/tmp/p6.png', :width => '60', :height => '60'
        .text
          %b Yossy Mendelovich
          Show at most this number of pages Show at most thiser 
          of pages of pages Show  
          
.clear