= form_for(Message.new, :url => user_send_message_url(user), :remote => :true) do |f|
  %p= f.text_area :body, :placeholder => 'New message', :id => "message_body_#{user.id}"
  %p.right= f.submit "Send", :class => 'light-button send green'

:javascript
  redactor = $("#message_body_#{user.id}").redactor({"paths":{"stylesheets":["/assets/imperavi-rails/imperavi/wym.css"],"toolbar":"/imperavi/toolbar/mini.js","language":"/imperavi/language/en.js","typograf":"/imperavi/typograf","dialogs":{"file":"/imperavi/file","fileEdit":"/imperavi/file_edit","image":"/imperavi/image","imageEdit":"/imperavi/image_edit","link":"/imperavi/link","table":"/imperavi/table","video":"/imperavi/video"},"images":{"upload":"","download":"","list":""},"files":{"upload":"","download":"","remove":""}},"lang":"en","toolbar":"mini"});


