- is_current_user = (user == current_user)
.b-user
  .b-user-content
    .b-user-info
      .b-user-preview#upcontainer
        = image_tag user.avatar_url(:thumb_143)
        - if user.role? "doctor"
          .tools
            - if is_current_user
              .light-button.follow.unfollow
                Folow
                %span
            - else
              - if current_user.following?(user)
                = link_to user_unfollow_path(user), :method => :delete, :remote => :true, :class => "light-button follow unfollow follow-user-#{user.id} no-history" do
                  Unfolow
                  %span
              - else
                = link_to user_follow_path(user), :method => :post, :remote => :true, :class => "light-button follow follow-user-#{user.id} no-history" do
                  Folow
                  %span

      .b-user-info-body
        %h2.b-user-title= user.full_name
        - unless user.birthday.blank?
          %p
            %strong Birthday:
            = user.birthday

        - unless user.profession_and_degree.blank?
          %p
            %strong Profession and degree
            = user.profession_and_degree

        - unless user.specialization.blank?
          %p
            %strong Specialization:
            = user.specialization

        %p
          %strong Send a massege:
          you can send a message directly to email about profesional question
        - if is_current_user
          %p= text_area_tag "body", "", :placeholder => 'New message'
          %p.right= submit_tag "Send", :class => 'light-button send green'
        - else
          = render :partial => 'send_message', :locals => {:user => user}

      .clear

    - unless user.bio.blank?
      %h2 Medical Profile

      %p
        %strong Biography:
        = simple_format user.bio

      %br

    - if user.items.present?
      %h2 Publications
      = render :partial => 'list_of_items', :locals => {:items => user.items, :show_popup => !is_current_user}
      %br

    - if user.following_by_type("Item").present?
      %h2 Approvals
      = render :partial => 'list_of_items', :locals => {:items => user.following_by_type("Item"), :show_popup => !is_current_user}

  = render :partial => 'sidebar', :locals => {:collaborators => collaborators, :show_popup => !is_current_user}
.clear

:javascript
  changeNavigationTab("#{is_current_user ? '.tab-public' : '.tab-collegues'}");