.b-user
  .b-user-content
    .b-user-info
      .b-user-preview#upcontainer
        - if (user == current_user)
          = link_to '#', :id => 'pickfiles' do          
            - if user.avatar?
              = image_tag(user.avatar_url(:thumb_143), :class => 'my-thumb_143')
            - else  
              = image_tag('/assets/user-upload-photo.jpg', :class => 'my-thumb_143')
          .spinner.hidden 
          %script
            var uploaderProfile = $.initPlupload({url: "#{user_upload_avatar_path(user)}"+".json"});   
        - else
          = image_tag user.avatar_url(:thumb_143)
          .tools
            - if current_user.following?(user)
              = link_to user_unfollow_path(user), :method => :delete, :remote => :true, :class => "light-button follow unfollow follow-user-#{user.id}" do
                Unfolow
                %span
            - else
              = link_to user_follow_path(user), :method => :post, :remote => :true, :class => "light-button follow follow-user-#{user.id}" do
                Folow
                %span
        
      .b-user-info-body
        %h2.b-user-title= user.full_name
        - unless user.birthday.blank?
          %p
            %strong Birthday:
            = user.birthday
            
        - unless user.profession_and_degree.blank?
          %p
            %strong Profession and degree 
            = user.profession_and_degree       
        
        - unless user.specialization.blank?
          %p
            %strong Specialization:
            = user.specialization
        - if (user != current_user)    
          %p
            %strong Send a massege: 
            you can send a message directly to email about profesional question
          = render :partial => 'send_message', :locals => {:user => user}

      .clear    
    
    - unless user.bio.blank?
      %h2 Medical Profile
        
      %p
        %strong Biography:
        = user.bio

      %br
    

    - if user.items.present?        
      %h2 Publications       
      .b-user-list
        - each user.items do item
          = link_to item_path(item), :class => 'item' do
            = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
            %b= item.title 
            = item.description
      
  
    %br
    %h2 Approvals   
    .b-user-list
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      .clear

      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      .clear


  .b-user-sidebar
    %h2.b-user-title Published with:
    %ul
      %li
        = image_tag '/assets/tmp/p6.png', :width => '60', :height => '60'
        .text
          %b Yossy Mendelovich
          Show at most this number of pages Show at most thiser 
          of pages of pages Show  
      %li
        = image_tag '/assets/tmp/p6.png', :width => '60', :height => '60'
        .text
          %b Yossy Mendelovich
          Show at most this number of pages Show at most thiser 
          of pages of pages Show  
      %li
        = image_tag '/assets/tmp/p6.png', :width => '60', :height => '60'
        .text
          %b Yossy Mendelovich
          Show at most this number of pages Show at most thiser 
          of pages of pages Show  
          
.clear