- is_current_user = (user_signed_in? && user == current_user)
.b-user
  .b-user-content
    .b-user-info
      .b-user-preview#upcontainer
        = image_tag user.avatar_url(:thumb_143)
        - if user_signed_in? && user.role?("doctor")
          .tools
            - if is_current_user
              .light-button.follow.unfollow
                Follow
                %span
            - else
              - if current_user.following?(user)
                = link_to user_unfollow_path(user), :method => :delete, :remote => :true, :class => "light-button follow unfollow follow-user-#{user.id} no-history" do
                  Unfollow
                  %span
              - else
                = link_to user_follow_path(user), :method => :post, :remote => :true, :class => "light-button follow follow-user-#{user.id} no-history" do
                  Follow
                  %span

      .b-user-info-body
        %h2.b-user-title
          = "#{user.full_name}. #{user.profession_and_degree}"

        - if user.show_birthday == "1" and user.birthday.present?
          %p
            %strong Birthday:
            = user.birthday

        - unless user.profession_and_degree.blank?
          %p
            %strong Profession and degree
            = user.profession_and_degree

        - unless user.specialization.blank?
          %p
            %strong Specialization:
            = user.specialization

        %p
          %strong Send a message:
          you can send a message directly to email about professional question
        - if is_current_user
          %p= image_tag "send-message-public.png"
          %p.right= submit_tag "Send", :class => 'light-button send green public'
        - else
          = render :partial => 'send_message', :locals => {:user => user}

      .clear

    - if user.show_bio == "1" and  user.bio.present?
      %h2 Medical Profile

      %p
        %strong Biography:
        = user.bio

      %br

    - if user.items.state_is("published").present?
      %h2 Publications
      = render :partial => 'list_of_items', :locals => {:items => user.items.state_is("published"), :show_popup => !is_current_user}
      %br

  - if user_signed_in? && current_user.role?("doctor")
    = render :partial => 'sidebar', :locals => {:collaborators => collaborators, :show_popup => !is_current_user}
.clear

:javascript
  changeNavigationTab("#{is_current_user ? '.tab-public' : '.tab-collegues'}");