- if collaborators.present?
  .b-user-sidebar
    %h2.b-user-title Published with:
    %ul
      - collaborators.each do |collaborator|
        %li
          - if show_popup
            = link_to image_tag(collaborator.avatar_url(:thumb_60), :class => "popup-user-info", :id => "popup-user-#{collaborator.id}"), user_path(collaborator), :class => "pjax"
          - else
            = image_tag collaborator.avatar_url(:thumb_60)
          .text
            %b= collaborator.full_name
            = collaborator.specialization.truncate(60, :separator => " ") if collaborator.specialization.present?