%div
  .b-settings
    %h1 Customize your settings
    .b-notification.b-settings-tab{:class => "#{'hidden' if current_user.role? "doctor"}"}
      .b-settings-title Email me whenever:
      = form_for(current_user, :remote => true) do |f|
        %ul
          - if current_user.role?("doctor")
            %li
              = f.check_box :following_me
              = label "_radio", "following_me", "Someone following me."
            %li
              = f.check_box :added_as_author
              = label "_radio", "added_as_author", "Someone has added you to the authors of an item."
            %li
              = f.check_box :following_item
              = label "_radio", "following_item", "Someone started following your item."
            %li
              = f.check_box :commented_item
              = label "_radio", "commented_item", "Someone has commented on your item."
            %li
              = f.check_box :recommended_comment
              = label "_radio", "recommended_comment", "Someone has recommended your comment."
          %li
            = f.check_box :following_published
            = label "_radio", "following_published", "Someone of my following has published something."
          %li
            = f.check_box :following_bought_item
            = label "_radio", "following_bought_item", "Someone you are following has bought an item."
          %li
            = f.check_box :item_changes
            = label "_radio", "item_changes", "Item you are following has been changed or updated (price, title, summary, became free or commercial and etc.)"

          %li.submit= f.submit '', :class => 'btn save-changes'

    - if current_user.role? "doctor"
      .b-info.b-settings-tab
        = form_for(current_user, :remote => true, :validate => true) do |f|
          .bio
            .title
              Biography
              %span Tell us more about yourself
            .body
              = f.text_area :bio

              .right= f.submit '', :class => 'btn ok'

        = form_for(current_user, :validate => true) do |f|
          .edu-container
            .education
              - removable = false
              - current_user.educations.new() unless current_user.educations.any?

              = f.fields_for :educations do |edu_form|
                = render :partial => "education_fields", :locals => {:f => edu_form, :removable => removable}
                - removable = true
            .right
              = link_to_add_fields "Add Education", f, :educations
              = f.submit '', :class => 'btn ok'

      .b-privacy.b-settings-tab.hidden
        .b-settings-title Select profile settings to show everyone:
        = form_for(current_user, :remote => true) do |f|
          %ul
            %li
              = f.check_box :show_bio
              = label "_radio", "show_bio", "Biography"
            %li
              = f.check_box :show_educations
              = label "_radio", "show_educations", "Education"
            %li
              = f.check_box :show_birthday
              = label "_radio", "show_birthday", "Birthday"

            %li.submit
              = link_to "", "#", :class => 'btn change-password', :id => "btn-change-password"
              = f.submit '', :class => 'btn save-changes'

      .b-communities.b-settings-tab.hidden
        = form_for(current_user, :remote => true, html: { id: "user_communities_form" } ) do |f|
          = hidden_field_tag "user[community_ids][]", nil
          %ul
            - Community.all.each do |c|
              %li
                = check_box_tag("user[community_ids][]", c.id, current_user.community_ids.include?(c.id), id: dom_id(c), class: "community_checkbox") 
                %label{ class: "community_label", for: "#{dom_id(c)}"} 
                  = c.name
                -#%span{ class: "icon #{c.slug}" }
                
         

- if current_user.role? "doctor"
  %div{ :id => "popup-change-password", :title=>"Change Password", :style => "display: none" }
    = render :template => 'devise/registrations/edit', :locals => {:resource => @resource, :resource_name => resource_name }


  :javascript
    $("#popup-change-password:ui-dialog").dialog ("destroy");

    $("#popup-change-password").dialog({
      autoOpen: false,
      resizable: false,
      width: 400,
      modal: true,
      buttons: {
        "Change my password": function() {
          $(this).find("form").submit();
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });

    $("#btn-change-password").click(function() {
      $("#popup-change-password").dialog( "open" );
      return false;
    });
    
    $(".l-settings-navigation").removeClass('hidden');
    $(".b-settings-nav-bio").click();
    changeNavigationTab(".tab-settings");


- if @notice
  :javascript
    showHideNotice("#{@notice[:type]}", "#{@notice[:message]}");