.b-user
  .b-user-content
    .b-user-info
      .b-user-preview#upcontainer
        = link_to '#', :id => 'pickfiles' do          
          - if @user.avatar.present?
            = image_tag(@user.avatar_url(:thumb_143), :width => '143', :height => '143', :class => 'my-thumb_143')
          - else  
            = image_tag('/assets/user-upload-photo.jpg', :width => '143', :height => '143', :class => 'my-thumb_143')
        .spinner.hidden
        
      .b-user-info-body
        %h2.b-user-title= @user.full_name
        - unless @user.specialization.blank?
          %p
            %strong Specialization:
            = @user.specialization
        %p
          %strong Send a massege: 
          you can send a message directly to email about profesional question    
      .clear    
    
    - unless @user.bio.blank?
      %h2 Medical Profile
        
      %p
        %strong Biography:
        = @user.bio

      %br
        
    %h2 Publications 
    
    .b-user-list
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      .clear

      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      .clear
  
    %br
    %h2 Approvals   
    .b-user-list
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      .clear

      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      = link_to '#', :class => 'item' do
        = image_tag '/assets/tmp/p5.png', :width => '135', :height => '100'
        %b Lorem Ipsum 
        is simply dummy text of the print
      .clear


  .b-user-sidebar
    %h2.b-user-title Published with:
    %ul
      %li
        = image_tag '/assets/tmp/p6.png', :width => '60', :height => '60'
        .text
          %b Yossy Mendelovich
          Show at most this number of pages Show at most thiser 
          of pages of pages Show  
      %li
        = image_tag '/assets/tmp/p6.png', :width => '60', :height => '60'
        .text
          %b Yossy Mendelovich
          Show at most this number of pages Show at most thiser 
          of pages of pages Show  
      %li
        = image_tag '/assets/tmp/p6.png', :width => '60', :height => '60'
        .text
          %b Yossy Mendelovich
          Show at most this number of pages Show at most thiser 
          of pages of pages Show  
          
.clear