#general-links
  .container
    .center
      = link_to 'usefull link', '#'
      = link_to 'Items that you follow', 'items_you_follow'
      = link_to 'interesting item', '/interesting_item'
      = link_to 'Items', '/item'
      = link_to 'Home', '/home'
      .clear