#general-links
  .container
    .center
      = link_to 'usefull link', '#'
      = link_to 'usefull link', '#'
      = link_to 'usefull link', '#'
      = link_to 'Inner', '/inner'
      = link_to 'Home', '/home'
      .clear