#general-links
  .container
    .center
      = link_to 'usefull link', '#'
      = link_to 'usefull link', '#'
      = link_to 'usefull link', '#'
      = link_to 'Items', '/item'
      = link_to 'Home', '/home'
      .clear