.b-general-links
  .container
    .center
      = link_to 'admin', '/admin_page'
      = link_to 'admin Sign in', '/sign_in'
      = link_to 'upload', '/upload_page'
      = link_to 'colleagues', '/colleagues'
      = link_to 'settings', '/settings'
      = link_to 'user', '/user'
      = link_to 'account purch. item', '/account_purchased_item'
      = link_to 'Account', '/account'
      = link_to 'Items you follow', '/items_you_follow'
      = link_to 'interest. item', '/interesting_item'
      = link_to 'Items', '/item'
      
      .clear