%h3
  Your Account

.clear

.list
  .header
    .nav.account
      = link_to '#', :class => 'items' do
        %span
        Your Items
      = link_to '#', :class => 'your-purchase' do
        %span
        Your
        %br
        Purchase
      = link_to '#', :class => 'purchased selected' do
        %span
        Purchased
        %br
        Item
      = link_to '#', :class => 'paiments-info' do
        %span
        Paiments
        %br
        Info
    .filter.account
      .field
        .tags
          .label Filter by
          = link_to 'Viewed', '#', :class => 'selected'
          = link_to 'Date', '#'
          = link_to 'Free/Paid', '#'
          = link_to 'Length', '#'          
          .clear
        .search
          = text_field 'search', 'form', :placeholder => 'Free search', :class => 'text-input'
          = button_tag 'Go', :class => 'dark-button'
        .clear
    .clear
    .b-purchased-item
      .item
        .title Account Info
        .body
          Viza Number:
          %br
          123456789
          %br
          Date: 1.9.1985
          %br
          Kobi Mori
          %br
          Anatot 36, Tel Aviv
          %br
          Israel
        = link_to 'Edit', '#', :class => 'light-button green edit'
    
      .item
        .title Schedule
        %ul
          %li.odd 
            September 2011
            %span 30 USD
          %li
            September 2011
            %span 30 USD
          %li.odd
            September 2011
            %span 30 USD
          %li
            September 2011
            %span 30 USD
          %li.odd
            September 2011
            %span 30 USD
          %li
            September 2011
            %span 30 USD

      .item
        .title Schedule
        .summ 172 USD
        = link_to '#', :class => 'light-button green upload' do
          %span
          Uplode more
          %br
          quality items

          

      .clear