%h3
  Your Account

.clear

.list
  .list-header
    .nav.account
      = link_to '#', :class => 'items selected' do
        %span
        Your Items
      = link_to '#', :class => 'your-purchase' do
        %span
        Your
        %br
        Purchase
      = link_to '#', :class => 'purchased' do
        %span
        Purchased
        %br
        Item
      = link_to '#', :class => 'paiments-info' do
        %span
        Paiments
        %br
        Info
    .filter.account
      .field
        .tags
          .label Filter by
          = link_to 'Viewed', '#', :class => 'selected'
          = link_to 'Date', '#'
          = link_to 'Free/Paid', '#'
          = link_to 'Length', '#'          
          .clear
        .search
          = text_field 'search', 'form', :placeholder => 'Free search', :class => 'text-input'
          = button_tag 'Go', :class => 'dark-button'
        .clear
    .clear
    .list-content
      .item
        .tools
          .price Price: 5.00$
          = link_to 'Change price', '#', :class => 'change'
          = link_to '#', :class => 'delete' do
            Delete Item
            %span
        .media
          = image_tag '/assets/tmp/p2.png'
          .info
            .purchase
              %span
              Purchase: 30,0000
            .view
              %span
              View: 50,000
        .text
          Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem
          = link_to 'Ipsum has been', '#'
          the industry's
          standard dummy text ever since the 1500s, when an
          unknown printer.
      .item
        .tools
          .price Price: 5.00$
          = link_to 'Change price', '#', :class => 'change'
          = link_to '#', :class => 'delete' do
            Delete Item
            %span
        .media
          = image_tag '/assets/tmp/p2.png'
          .info
            .purchase
              %span
              Purchase: 30,0000
            .view
              %span
              View: 50,000
        .text
          Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's
          = link_to 'standard dummy', '#'
          text ever since the 1500s, when an
          unknown printer.
      .item
        .tools
          .price Price: 5.00$
          = link_to 'Change price', '#', :class => 'change'
          = link_to '#', :class => 'delete' do
            Delete Item
            %span
        .media
          = image_tag '/assets/tmp/p2.png'
          .info
            .purchase
              %span
              Purchase: 30,0000
            .view 
              %span
              View: 50,000
        .text
          Lorem Ipsum is
          = link_to 'simply dummy', '#'
          text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an
          unknown printer.
      .clear
      %nav
        %ul.pagination
          %li= link_to 'Page 1 of 22', '#'
          %li
            %span.current 1
          %li= link_to '2', '#'
          %li= link_to '4', '#'
          %li= link_to '5', '#'
          %li= link_to '6', '#'
          %li= link_to '10', '#'
          %li= link_to '20', '#'
          %li= link_to 'Last Page>>', '#'
        .clear