%h3 
  Your Colleagues

  .light-button.send-message.green
    %b Send 
    your followers a message 

.b-colleagues.list
  .header
    .nav.account
      = link_to '#', :class => 'followers selected' do 
        %span
        Followers
      = link_to '#', :class => 'published-together' do
        %span
        Published
        %br
        together        
      = link_to '#', :class => 'following' do
        %span
        Following
      = link_to '#', :class => 'patients' do
        %span
        Patients
    .filter.account
      .field
        .tags
          .label Filter by
          = link_to 'Viewed', '#', :class => 'selected'
          = link_to 'Date', '#'
          = link_to 'Free/Paid', '#'
          = link_to 'Length', '#'          
          .clear
        .search
          = text_field 'search', 'form', :placeholder => 'Free search', :class => 'text-input'
          = button_tag 'Go', :class => 'dark-button'
        .clear
    .clear
    .list-content
      .b-colleagues-container
        
        = link_to '#', :class => 'b-colleagues-item' do
          = image_tag '/assets/tmp/p3.png', :width => '60', :height => '60'
          .title
            Kobi
            %br
            Mori

        = link_to '#', :class => 'b-colleagues-item' do
          = image_tag '/assets/tmp/p3.png', :width => '60', :height => '60'
          .title
            Artur
            %br
            Finkelshtein
        = link_to '#', :class => 'b-colleagues-item' do
          = image_tag '/assets/tmp/p3.png', :width => '60', :height => '60'
          .title
            Kobi
            %br
            Mori

        = link_to '#', :class => 'b-colleagues-item' do
          = image_tag '/assets/tmp/p3.png', :width => '60', :height => '60'
          .title
            Artur
            %br
            Finkelshtein
        = link_to '#', :class => 'b-colleagues-item' do
          = image_tag '/assets/tmp/p3.png', :width => '60', :height => '60'
          .title
            Kobi
            %br
            Mori

        = link_to '#', :class => 'b-colleagues-item' do
          = image_tag '/assets/tmp/p3.png', :width => '60', :height => '60'
          .title
            Artur
            %br
            Finkelshtein
        = link_to '#', :class => 'b-colleagues-item' do
          = image_tag '/assets/tmp/p3.png', :width => '60', :height => '60'
          .title
            Kobi
            %br
            Mori

        = link_to '#', :class => 'b-colleagues-item' do
          = image_tag '/assets/tmp/p3.png', :width => '60', :height => '60'
          .title
            Artur
            %br
            Finkelshtein
        = link_to '#', :class => 'b-colleagues-item' do
          = image_tag '/assets/tmp/p3.png', :width => '60', :height => '60'
          .title
            Kobi
            %br
            Mori

        = link_to '#', :class => 'b-colleagues-item' do
          = image_tag '/assets/tmp/p3.png', :width => '60', :height => '60'
          .title
            Artur
            %br
            Finkelshtein
            
        .clear
      