.b-settings
  %h2 Customize your settings
  .b-notification.b-settings-tab.hidden
    .b-settings-title Email me whenever:
    = form_for '/' do |f|
      %ul
        %li.odd
          = f.check_box "settings"
          = label "_radio", "following_me", "Someone following me"
        %li
          = f.check_box "settings"
          = label "_radio", "following_published", "Someone of my following has published something"
        %li.odd
          = f.check_box "settings"
          = label "_radio", "added_as_author", "Someone added you as a author of an item"
        %li
          = f.check_box "settings"
          = label "_radio", "following_item", "Someone started following your item"
        %li.odd
          = f.check_box "settings"
          = label "_radio", "commented_item", "Someone commented on your item"
        %li
          = f.check_box "settings"
          = label "_radio", "recommended_comment", "Someone recommended your comment"
        %li.odd
          = f.check_box "settings"
          = label "_radio", "following_bought_item", "Someone you are following bought an item"
        %li
          = f.check_box "settings"
          = label "_radio", "item_changes", "Item you following as changed or updated (price, title, summary goes from paid to free and etc)"
        
        %li.submit= f.submit 'Save changes', :class => 'light-button green'


  .b-info.b-settings-tab
    .bio
      .title 
        Biography
        %span Tell us more about yourself            
      .body
        = text_area_tag 'description'

        .right= button_tag 'OK', :class => 'light-button green'

    .form
      = form_for '/' do |f|      
        %ul
          %li
            = label "1", "1", "School"
            = f.text_field ''
          %li
            = label "1", "1", "School"
            = f.text_field ''
          %li
            = label "1", "1", "School"
            = f.text_field ''
          %li.right= button_tag 'OK', :class => 'light-button green'

  / + две линки в лояуте inner.html.haml