%h2= "Dear, #{@owner.full_name}!"
/ Follow/Unfollow
- if @notify.subject_type == "Follow"
  %h3
    = link_to @notify.actor.full_name, user_url(@notify.actor)
    = "has #{@notify.event_type.split("_").first} to follow #{@notify.secondary_subject_type.underscore}"
    - if @notify.secondary_subject_type == "Item"
      = link_to @notify.secondary_subject.title, item_url(@notify.secondary_subject)
    - elsif @notify.secondary_subject_type == "User"
      = link_to @notify.secondary_subject.full_name, user_url(@notify.secondary_subject)

/ Create/Update Item
- if @notify.subject_type == "Item"
  %h3
    = link_to @notify.actor.full_name, user_url(@notify.actor)
    = "#{@notify.event_type.split("_").first} item"
    = link_to @notify.subject.title, item_url(@notify.subject)

- if @notify.subject_type == "User"
  %h3
    = link_to @notify.actor.full_name, user_url(@notify.actor)
    = "#{@notify.event_type.split("_").first} profile"

- if @notify.subject_type == "Comment"
  %h3
    = link_to @notify.actor.full_name, user_url(@notify.actor)
    = "#{@notify.event_type.split("_").first} comment "
    = link_to @notify.subject.body, item_url(@notify.subject.commentable)+'#comment-'+"#{@notify.subject.id}"
%br
= "Email created #{DateTime.now.strftime("%d %B %Y %H:%M:%S")}"