%h2= "Dear, #{@notify.actor.full_name}!"

  / Follow/Unfollow
  - if @notify.subject_type == "Follow"
    %h3= "#{@notify.actor.full_name} #{@notify.event_type == "follow" ? start : stop } following"
    - if secondary_subject_type == "Item"
      = link_to @notify.secondary_subject.title item_url(@notify.secondary_subject)
    - elsif secondary_subject_type == "User"
      = link_to @notify.secondary_subject.full_name user_url(@notify.secondary_subject)

  / Create/Update Item
  - elsif @notify.subject_type == "Item"
    %h3
      = link_to @notify.actor.full_name user_url(@notify.actor)
      = "#{@notify.event_type.split("_").first}ed new item"
      = link_to @notify.subject.title, item_url(@notify.subject)

  - elsif @notify.subject_type == "User"
    %h3
    event_type
      = link_to @notify.actor.full_name user_url(@notify.actor)
      = "#{@notify.event_type.split("_").first}ed new profile"

= "Email created #{DateTime.now.strftime("%d %B %Y %H:%M:%S")}"