%h2= "Dear, #{@to_user.full_name}!"

- unless @message_text.blank?
  %p
    Publishing of your item
    %i= raw "&laquo;#{@item_title}&raquo;"
    has been denied.
  %p
    %strong Deny reason:
    %br
    = raw(@message_text)
- else
  %p
    Your item
    %i= link_to raw("&laquo;#{@item_title}&raquo;"), item_url(@item_id)
    has been published.

%p
  %i Email created and sended #{DateTime.now.strftime("%d %B %Y %H:%M:%S")}