- remote ||= false
- @item ||= false
- if items.present?
  - items.each_with_index do |item, index|    
    - if item
      .item
        .media
          -# link =  File.exist?(Rails.root.to_s + "/public#{item.attachment_thumb}") ? item.attachment_thumb : "/assets/default/item_thumb_default.png"
          = link_to image_tag(item.attachment_thumb, :class => 'popup-item-info', :id => "popup-item-#{item.id}", :width => "265", :height => "200"), item_path(item), :class => " pjax"

        = link_to  item.description.truncate(170, :separator => " "), item_path(item), :class => "text pjax"
    - if (index % 3 == 2)
      .clear

  .clear
  - if remote and @item
    = paginate items, :params => {:action => "relevant", :controller => "items", :item_id => @item }, :remote => true
  - else
    = paginate items

- else
  .no-items No items

.clear

