.b-upload
  .hr

  .b-uplod-step-regular.steps
    .b-upload-title
      %b Regular (Moveis, Presentation, Documents)

    = link_to 'Select File', '#', :class => 'select-file'

    = link_to '#', :class => 'light-button green upload' do
      Upload
      %span
    .btn-hint
      It can be presentations,
      %br
      movie and articles.

  .b-uplod-step-make-conference.steps
    .b-upload-title
      %b Make your conference

    = link_to 'Select Movie File', '#', :class => 'select-file'

    = link_to '#', :class => 'light-button green upload' do
      Upload
      %span

  .hr

  .b-uplod-step-describe-movie.steps
    .b-upload-title Describe your movie
    -if @item.errors.any?
      #error_explanation
        %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
        %ul
          - @item.errors.full_messages.each do |msg|
            %li= msg

    = image_tag '/assets/tmp/p2.png', :width => '135', :height => '100', :class => 'preview'
    = form_for @item, :validate => true, :remote => true do |f|
      .block
        .item
          = f.label :title
          = f.text_field :title
        .item.abstract
          = f.label :description, "Abstract"
          = f.text_area :description
        .item.keywords
          = label :tag_list, "Keywords"
          .textarea
            = text_area_tag :tag_list, "", :rows => 1
          .clear
          .text-hint Enter keyword and click "Enter" keyboard button
      .clear
      = f.submit 'Save', :class => 'light-button green'
      :javascript
        $('#tag_list').textext({
          plugins : 'autocomplete tags ajax',
          tagsItems: #{@item.tag_list.to_json},
          ajax : {
              url : '#{tags_items_path}',
              dataType : 'json',
              cacheResults : true
          }
        });

    .clear
  .hr

  -if @item.id
    .b-uplod-step-published-with.steps
      .b-upload-title Published with
      - collegues = @item.contributors
      - if collegues.present?
        .collegues
          - collegues.each do |user|
            .user{:id => "collegue-#{user.id}"}
              = image_tag user.avatar_url(:thumb_60)
              = text_with_br user.full_name
              %br
              = link_to item_delete_from_contributors_path(@item, :user_id => user.id), :class => "delete-btn", :remote => true, :method => :delete do
                Delete
                %span

      = link_to "Add persons", "", :class => 'light-button green', :confirm => 'Are you sure?', :id => "add-collegues-to-item-link"
      .clear

      #add-collegues-to-item{:style => "display: none;", :title=>"Add persons to item"}
        .form{:id => "collegues-add-form"}
          = form_for "", :url => item_users_search_path(@item), :remote => true, :method => :get do |f|
            %p
              = text_field_tag "q", "",:placeholder => "Search persons"
              = f.submit 'Search', :class => 'ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover'

          .users-wrapper
            - if @doctors.present?
              = render :partial => 'doctors_list', :locals => {:doctors => @doctors}
    .hr




  .b-uplod-step-sell-movie.steps
    .b-upload-title
      Sell your movie in the orthodentic store
      .hint
        Get reward on your quality medical item.  Get reward on your quality medical item.

    .block.pay-pal-form
      = form_for '/' do |f|
        %ul
          %li
            = label "1", "1", "Country"
            = f.select "", ['Russia','England']
          %li
            = label "1", "1", "First name"
            = f.text_field ''
          %li
            = label "1", "1", "Last name"
            = f.text_field ''
          %li
            = label "1", "1", "Credit card number"
            = f.text_field ''
          %li
            = label "1", "1", "Payment type"
            = f.text_field ''
          %li.exp
            = label "1", "1", "Expiration date"
            = f.text_field '', :class => 'd'
            = f.text_field '', :class => 'm'
            %span css
            = f.text_field '', :class => 'css'
            = link_to 'Whats this?'
          %li
            = label "1", "1", "Billing address 1"
            = f.text_field ''
          %li
            = label "1", "1", "Billing address 2"
            = f.text_field ''
          %li
            = label "1", "1", "City"
            = f.text_field ''
          %li
            = label "1", "1", "State"
            = f.select "", ['Russia','England']
          %li.zip
            = label "1", "1", "Zip code"
            = f.text_field ''
          %li
            = label "1", "1", "Home Tel"
            = f.text_field ''
          %li
            = label "1", "1", "Email"
            = f.text_field ''

          %li
            = link_to '#', :class => 'light-button pay-pal' do
              Save your information with
              %b PayPal
    .block
      .b-upload-title Allready have a PayPal account?
      .field
        .title Please log in
        .body.pay-pal-auth-form
          = form_for '/' do |f|
            %ul
              %li
                = label "1", "1", "Email"
                = f.email_field ''
              %li
                = label "1", "1", "Password"
                = f.password_field ''
              %li.right
                = link_to '#', :class => 'light-button green log-in' do
                  Log in

          .hint
            Forgot
            = link_to 'email address', '#'
            or
            = link_to 'password', '#'
            ?

      .field
        .title Set your price
        .body.set-price
          = form_for '/' do |f|
            = f.text_field ''
  .hr
  .clear

  .b-uplod-step-set-preview.steps
    .b-upload-title Set preview

    .block
      = form_for '/' do |f|
        %ul
          %li
            = f.radio_button "radio", "1"
            = label '_radio', '1', 'Show at most this number of pages', :class => 'checked'
            = f.text_field ''
          %li
            = f.radio_button "radio", "2"
            = label '_radio', '2', 'Show at most this number of pages'
            = f.text_field ''
          %li
            = f.radio_button "radio", "3"
            = label '_radio', '3', 'Show at most this number of pages'
            = f.text_field ''
      %p
        %strong Note:
        Show at most this number of pages Show at most thiser of pages

  .hr
  .clear

  .b-uplod-step-copyright.steps
    .b-upload-title Copyright Verification

    .block
      = form_for '/' do |f|
        = f.check_box ''
        = label '_radio', '1' do
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text
          ever since the 1500s, when an unknown printer took a galley of type
          and scrambled it to make a type specimen book.

  .hr
  .clear

  .tools
    = link_to '#', :class => 'light-button green publish' do
      Publish

:javascript
  $( "#add-collegues-to-item-link:ui-dialog" ).dialog( "destroy" );

  $( "#add-collegues-to-item" ).dialog({
    resizable: false,
    autoOpen: false,
    width: 410,
    height: 400,
    modal: true,
    buttons: {
      // "Save": function() {
      //   $( this ).find('form').submit();
      // },
      "Close": function() {
        $( this ).dialog( "close" );
      }
    },
    open: function(event, ui) { $("#collegues-add-form form").submit()}
  });

  $( "#add-collegues-to-item-link" ).click(function() {
    $( "#add-collegues-to-item").dialog( "open" );
    return false;
  });

  changeNavigationTab(".tab-item");

