%li.b-collegues__item{:id => "collegue-#{user.id}","data-id" => "#{user.id}"}
  = image_tag user.avatar_url(:thumb_60)
  .text
    %span.fullname= user.full_name
    - unless user == current_user
      = link_to "Delete", "#", :class => "delete-btn js-delete-contributor"
