.list
  .list-header
    - if current_user
      .nav
        = link_to '#', :class => 'movies selected' do
          %span
          Movies
        = link_to '#', :class => 'articles' do
          %span
          Articles
        = link_to '#', :class => 'presentations' do
          %span
          Presentations
    .filter{:class=> ('stand-alone' if current_user.nil?)}
      .field
        .tags
          .label Sort by
          .filter-form
            = form_tag root_path, :remote => true, :method => :get do
              = select_tag "filter[viewed]","<option>Any Viewed</option><option selected='selected'>More Viewed</option><option>Less Viewed</option>".html_safe
              = select_tag "filter[length]", "<option>Any Length</option>".html_safe
              = select_tag "filter[date]",  "<option>Any Date</option><option selected='selected'>Today</option><option>1 Week</option><option>1 Month</option><option>1 Year</option>".html_safe
              = select_tag "filter[price]", "<option>Any</option><option>Free</option><option>Paid</option>".html_safe
          .clear
        .search
          = form_tag root_path, :remote => true, :method => :get do
            = text_field_tag "q", nil, :value => params[:q] ,:placeholder => 'Free search', :class => 'text-input', :id => "qsearch"
            = submit_tag 'Go', :class => 'dark-button'

        .clear
    .clear

    .list-content
      - if items.present?
        - items.each do |item|
          .item
            .media= image_tag '/assets/tmp/p2.png', :class => 'popup-item-info', :id => "popup-item-#{item.id}"
            .text= item.description.truncate(120, :separator => " ").capitalize!
        .clear
        = paginate items, :remote => true

      - else
        .no-items No items

      .clear

:javascript
  $("div.filter-form form select").on("change", function(){
    $(this).parent('form').submit();
  })
  $("#qsearch").autocomplete({
    source: "/search/qsearch",
    minLength: 3,
    width: 100,
    select: function(event, ui) {
      return window.location.assign(ui.item.url);
    }
    }).data("autocomplete")._renderItem = function(ul, item) {
      return $("<li></li>").addClass("qsearch-item").data("item.autocomplete", item).append("<a href=\"" + item.url + "\">" + item.title + "</a>").appendTo(ul);
    };