.list
  .list-header
    - if current_user
      .nav
        = link_to '#', :class => 'movies selected' do
          %span
          Movies
        = link_to '#', :class => 'articles' do
          %span
          Articles
        = link_to '#', :class => 'presentations' do
          %span
          Presentations
    .filter{:class=> ('stand-alone' if current_user.nil?)}
      .field
        = form_for "", :url => search_items_path, :remote => true, :method => :get do |f|
          .tags
            .label Sort by
            .filter-form
              = f.select "views", options_for_select(['Any Viewed','More Viewed', 'Less Viewed'])
              = f.select "length", options_for_select(['Any Length'])
              = f.select "date", options_for_select(['Any Date','Today', '1 Week', '1 Month', '1 Year'])
              = f.select "price", options_for_select(['Free/Paid','Free', 'Paid'])
              = f.hidden_field "filter_type", :value => "basic"
            .clear
          .search
            = f.text_field "q", :value => params[:q] ,:placeholder => 'Free search', :class => 'text-input', :id => "qsearch"
            = f.submit 'Go', :class => 'dark-button'

        .clear
    .clear

    .list-content
      = render :partial => "items/basic_list", :locals => {:items => items}

// :javascript

//   $("#qsearch").autocomplete({
//     source: "/search/qsearch-item",
//     minLength: 3,
//     width: 100,
//     select: function(event, ui) {
//       return window.location.assign(ui.item.url);
//     }
//     }).data("autocomplete")._renderItem = function(ul, item) {
//       return $("<li></li>").addClass("qsearch-item").data("item.autocomplete", item).append("<a href=\"" + item.url + "\">" + item.title + "</a>").appendTo(ul);
//     };