.list
  .list-header
    - if current_user
      .nav
        = link_to '#', :class => 'movies selected' do
          %span
          Movies
        = link_to '#', :class => 'articles' do
          %span
          Articles
        = link_to '#', :class => 'presentations' do
          %span
          Presentations
    .filter{:class=> ('stand-alone' if current_user.nil?)}
      .field
        .tags
          .label Sort by
          .filter-form
            = form_for "", :url => root_path, :remote => true, :method => :get do |f|
              = f.select "views", options_for_select(['Any Viewed','More Viewed', 'Less Viewed'], 'More Viewed')
              = f.select "length", options_for_select(['Any Length'])
              = f.select "date", options_for_select(['Any Date','Today', '1 Week', '1 Month', '1 Year'])
              = f.select "price", options_for_select(['Any','Free', 'Paid'])
              = f.hidden_field "filter_type", :value => "basic"
          .clear
        .search
          = form_tag root_path, :remote => true, :method => :get do
            = text_field_tag "q", nil, :value => params[:q] ,:placeholder => 'Free search', :class => 'text-input', :id => "qsearch"
            = submit_tag 'Go', :class => 'dark-button'

        .clear
    .clear

    .list-content
      = render :partial => "items/basic_items", :locals => {:items => items}

:javascript

  $("#qsearch").autocomplete({
    source: "/search/qsearch",
    minLength: 3,
    width: 100,
    select: function(event, ui) {
      return window.location.assign(ui.item.url);
    }
    }).data("autocomplete")._renderItem = function(ul, item) {
      return $("<li></li>").addClass("qsearch-item").data("item.autocomplete", item).append("<a href=\"" + item.url + "\">" + item.title + "</a>").appendTo(ul);
    };