.b-popup-item-info.popup-container{:class => "popup-item-#{item.id}"}
  .container
    %h3= item.title

    %p
      %span.date
        %b Date
        = item.created_at.strftime("%d/%m/%y")

        %b.margin Reads:
        = item.views_count
    %p
      %b.title Summery
      %br
      = item.description.truncate(250, :separator => ' ')

    .authors
      - if item.contributors.present?
        %b.title Authors
        %ul
          - item.contributors.limit(5).each do |contributor|
            %li
              = link_to user_path(contributor), :class => "popup-cleaner pjax" do
                = image_tag contributor.avatar_url(:thumb_45), :width => '45', :height => '45'
                %br
                = text_with_br contributor.full_name

    - if item.tags.present?
      %p
        %b.title Keywords
        %br
        - item.tags.each do |tag|
          = tag.name
          |

  .tools
    - if current_user and current_user.following?(item)
      = link_to "", item_unfollow_path(item), :remote => true, :method => :delete, :class => "btn popup-btn unfollow-item follow-item-#{item.id}"
    - else
      = link_to "", item_follow_path(item), :remote => true, :method => :post, :class => "btn popup-btn follow-item follow-item-#{item.id}"

    = link_to "", item_path(item), :class => 'btn go-to-article'
    - if item.regular_pdf.present?
      = link_to "", "#{item.regular_pdf.file.pdf.url}", :class => 'btn make-pdf'
  .corner
