.container
  %h3= item.title
    
  %p
    %span.date
      %b Date
      12/06/11
      %b Reads:
      135582
  %p
    %b.title Summery
    %br
    = item.description

  .authors
    - if item.contributors.present?
      %b.title Authors
      %ul 
        - item.contributors.each do |contributor|       
          %li
            = link_to user_path(contributor), :remote => true do
              = image_tag contributor.avatar_url(:thumb_45), :width => '45', :height => '45'
              %br
              = raw(contributor.full_name.gsub(" ","<br>"))          
    
  - if item.tags.present?
    %p
      %b.title Keywords
      %br
      - item.tags.each do |tag|
        = tag.name
        |

.tools  
  - if current_user.following?(item)
    = link_to item_unfollow_path(item), :remote => true, :method => :delete, :class => "light-button follow-item follow-item-#{item.id} no-history" do
      Unfollow Item
      %span
  - else
    = link_to item_follow_path(item), :remote => true, :method => :post, :class => "light-button follow-item follow-item-#{item.id} no-history" do
      Follow Item
      %span
  
  = link_to item_path(item), :remote => true, :class => 'light-button go-to-article' do
    Go to Article
    %span
  = link_to '#', :class => 'light-button make-pdf' do
    Make PDF
    %span
  %br
  = link_to '#', :class => 'light-button sell' do
    %b Sell
    this item
.corner 

