.b-popup-item-info.popup-container{:class => "popup-item-#{item.id}"}
  .container
    %h3.popup-container__title= item.title

    %p.with-date
      %span.date
        %b Date:
        = item.created_at.strftime("%d/%m/%y")

        %b.margin Reads:
        = item.views_count
    %p{:style => "margin-top: 5px;"}
      %b.title Summery
      %br
      = item.description.truncate(390, :separator => ' ')

    .authors
      - if item.contributors.present?
        %b.title Authors
        %ul
          - item.contributors.limit(5).each do |contributor|
            %li
              = link_to user_path(contributor), :class => "popup-cleaner pjax" do
                = image_tag contributor.avatar_url(:thumb_45), :width => '45', :height => '45'
                %br
                %span= text_with_br contributor.full_name

    - if item.tags.present?
      %p
        %b.title Keywords
        %br
        - item.tags.each do |tag|
          = tag.name
          |

  .tools
    - if current_user and current_user.following?(item)
      = link_to "", item_unfollow_path(item), :remote => true, :method => :delete, :class => "btn popup-btn unfollow-item follow-item-#{item.id}"
    - else
      = link_to "", item_follow_path(item), :remote => true, :method => :post, :class => "btn popup-btn follow-item follow-item-#{item.id}"

    = link_to "", item_path(item), :class => 'btn go-to-article'
    - if item.can_get_pdf?(current_user)
      - a_file = item.regular_pdf.file
      = link_to "", "https://s3-#{a_file.fog_credentials[:region]}.amazonaws.com/#{a_file.fog_directory}/#{a_file.path}", :class => 'btn make-pdf'
    - else
      .btn.make-pdf.disabled
    %div
      - if user_signed_in?
        - if !item.paid? and item.user_id == current_user.id
          = link_to "", edit_item_path(item.id), :class => "btn sell-this-item popup-btn"
        - elsif item.user_id != current_user.id and item.paid? and !item.purchased?(current_user) 
          = link_to "", item_path, :remote => true, :class => "btn buy-this-item popup-btn"
  .corner
