- content_for :title, item.title
.content
  %h1
    = item.title
  .share
    = render :partial => "layouts/share", :locals => {:title => item.title, :description => item.description}
  .clear

  .tools.short
    .items
      %ul
        - item.contributors.each do |contributor|
          %li
            .item
              = image_tag contributor.avatar_url(:thumb_60), :class => 'popup-user-info', :id => "popup-user-#{contributor.id}"
              .title= text_with_br contributor.full_name

    - if current_user and item.user.id != current_user.id
      - if not current_user.following?(item)
        = link_to item_follow_path(item), :method => :post, :remote => true, :class => "light-button follow follow-item-#{item.id} no-history" do
          Follow Item
          %span
      - else
        = link_to item_unfollow_path(item), :method => :delete, :remote => true, :class => "light-button follow follow-item-#{item.id} no-history" do
          Unfollow Item
          %span

    - if item.user == current_user
      = link_to edit_item_path(item), :class => "light-button edit-item pjax" do
        Edit Item

      .light-button.set-preview.green
        %b Set
        preview
        %span

    - else
      .light-button.sell.hidden
        %b Sell
        item
        = text_field 'search', 'form'
        %span

      - if item.paid? && !item.purchased?(current_user)
        #account-form-dialog.light-button.buy.green
          %b Buy
          item
          %span

  / есть два варианта
  / 1 Вариант

  .text.pic
    = image_tag('/assets/logo.png', :width => '200')
    - if @item.published?
      %h2= @item.title
    - else
      %h2= @item.title + ' (unpublished)'

    .body
      = simple_format @item.description

    = image_tag '/assets/tmp/p4.png', :class => 'preview'
    .clear

    .attachment
      -if @attachment
        = render :partial => "layouts/attachment_viewer", :locals => {:attachment => @attachment}

  / 2 Вариант
  .text.video.hidden
    .preview
      = image_tag '/assets/tmp/p5.png'
    .body
      = image_tag('/assets/logo.png', :width => '200')
      %h2= @item.title

      = @item.description
    .clear

#comments.b-comments
  %h3 Comments
  .b-comments-panel
    - if user_signed_in?
      = link_to '#', :class => 'light-button new-comment slide-to' do
        Make a comment
        %br
        on this Item
        %span
      .b-comments-form#comment-form
        = render :partial => "comments/form", :locals => {:commentable => @item, :url => item_comments_path(@item)}
    %ul
      - if @item.comment_threads.present?
        - @item.comment_threads.each do |comment|
          = render :partial => "comments/comment", :locals => {:comment => comment}
      .clear

- if @items
  %br
  %h3 Relevant items:
  = render :partial => 'items/list', :locals => {:items => @items}

:javascript
  $(".light-button.new-comment.slide-to").on("click", function(){
    $("form#new_comment").submit();
    return false;
  })

  changeNavigationTab(".tab-item");

- if item.paid? && !item.purchased?(current_user)
  %div{ :id => "account-form", :title=>"Buy item" }
    .b-buy-item-window
      .left-side
        .pay-pal-form
          = form_tag orders_path, :validate => false, :remote => true do
            = hidden_field_tag "order[item_id]", @item.id
            %p
              = label :pay_account, :country
              = collection_select :pay_account, :country, Country.order(:name), :iso, :name, include_blank: false
            %p
              = label :pay_account, :first_name
              = text_field :pay_account, :first_name
            %p
              = label :pay_account, :last_name
              = text_field :pay_account, :last_name
            %p
              = label :pay_account, :number, "Credit card number"
              = text_field :pay_account, :number
            .type
              = label :pay_account, :payment_type
              .type-container#payment-type-toogler
                = radio_button :pay_account, :payment_type, "visa", :checked => true
                = label :pay_account, :payment_type_visa, " ", :class => 'lb visa selected'
                = radio_button :pay_account, :payment_type, "master"
                = label :pay_account, :payment_type_master_card, ' ', :class => 'lb mc'
                = radio_button :pay_account, :payment_type, "discover"
                = label :pay_account, :payment_type_aaaa, ' ', :class => 'lb dc'
                = radio_button :pay_account, :payment_type, "american_express"
                = label :pay_account, :payment_type_bbbb, ' ', :class => 'lb ae'
            %p.exp
              = label :pay_account, :month, "Expiration date"
              = text_field :pay_account, :month, :class => 'd'
              = text_field :pay_account, :year, :class => 'm'
              %span cvs
              = text_field :pay_account, :verification_value, :class => 'css'
              = link_to 'Whats this?'
            %p
              = label :pay_account, :address1, "Billing address 1"
              = text_field :pay_account, :address1
            %p
              = label :pay_account, :address2, "Billing address 2"
              = text_field :pay_account, :address2
            %p
              = label :pay_account, :state
              = grouped_collection_select :pay_account, :state, Country.order(:name), :states, :name, :iso, :name
            %p
              = label :pay_account, :city
              = text_field :pay_account, :city
            %p.zip
              = label :pay_account, :zipcode, "Zip code"
              = text_field :pay_account, :zipcode
            %p
              = label :pay_account, :phone, "Home Tel"
              = text_field :pay_account, :phone
            %p
              = label :pay_account, :email, "Email"
              = text_field :pay_account, :email

      .right-side
        %p
          %b Item:
          = "\"#{item.title}\""
        %p
          %b Price:
          = "#{item.price}$"


  :javascript
    $( "#account-form:ui-dialog" ).dialog( "destroy" );

    $( "#account-form" ).dialog({
      resizable: false,
      autoOpen: false,
      width: 700,
      modal: true,
      buttons: {
        "Validate card": function() {
          $.post(
            "#{card_verification_orders_path}",
            $('#account-form form').serialize(),
            function(data){
              showHideNotice(data.type, data.message);
            });

        },
        "Buy item": function() {
          $('#account-form form').submit();
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });

    $( "#account-form-dialog" ).click(function() {
        $( "#account-form" ).dialog( "open" );
        return false;
      });

    var states;

    $('#pay_account_state').parent().hide();

    states = $('#pay_account_state').html();

    $('#pay_account_country').change(function() {
      var country, escaped_country, options;
      country = $('#pay_account_country :selected').text();
      escaped_country = country.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
      options = $(states).filter("optgroup[label='" + escaped_country + "']").html();
      if (options) {
        $('#pay_account_state').html(options);
        return $('#pay_account_state').parent().show();
      } else {
        $('#pay_account_state').empty();
        return $('#pay_account_state').parent().hide();
      }
    });
