- content_for :title, item.title
.content
  %h1
    = item.title
  .share
    = render :partial => "layouts/share", :locals => {:title => item.title, :description => item.description}
  .clear

  .tools.short
    .items
      %ul
        - item.contributors.each do |contributor|
          %li
            .item
              = image_tag contributor.avatar_url(:thumb_60), :class => 'popup-user-info', :id => "popup-user-#{contributor.id}"
              .title= text_with_br contributor.full_name

    - if current_user and item.user.id != current_user.id
      - if not current_user.following?(item)
        = link_to item_follow_path(item), :method => :post, :remote => true, :class => "light-button follow follow-item-#{item.id} no-history" do
          Follow Item
          %span
      - else
        = link_to item_unfollow_path(item), :method => :delete, :remote => true, :class => "light-button follow follow-item-#{item.id} no-history" do
          Unfollow Item
          %span

    - if item.user == current_user
      = link_to edit_item_path(item), :class => "light-button edit-item pjax" do
        Edit Item

      .light-button.set-preview.green
        %b Set
        preview
        %span

    - else
      .light-button.sell.hidden
        %b Sell
        item
        = text_field 'search', 'form'
        %span

      - if item.paid? && !item.purchased?(current_user)
        = link_to orders_path, :remote => true, :id => "account-form-dialog", :class => "light-button buy green", :method => :post do
          %b Buy
          item
          %span

  / есть два варианта, теперь 3(+1 комбинированный)
  / 1 Вариант

  .text.pic
    = image_tag('/assets/logo.png', :width => '200')
    - if @item.published?
      %h2= @item.title
    - else
      %h2= @item.title + ' (unpublished)'

    .body
      = simple_format @item.description

    = image_tag '/assets/tmp/p4.png', :class => 'preview'
    .clear

    -if @attachment_pdf
      .attachment-pdf
        = render :partial => "layouts/pdf_viewer", :locals => {:attachment => @attachment_pdf}

  / 2 Вариант
  .text.video.hidden
    .preview
      / = image_tag '/assets/tmp/p5.png'
      -if @attachment_video
        .attachment-video
          = render :partial => "layouts/video_viewer", :locals => {:attachment => @attachment_video}
    .body
      = image_tag('/assets/logo.png', :width => '200')
      %h2= @item.title

      = @item.description
    .clear

#comments.b-comments
  %h3 Comments
  .b-comments-panel
    - if user_signed_in?
      = link_to '#', :class => 'light-button new-comment slide-to' do
        Make a comment
        %br
        on this Item
        %span
      .b-comments-form#comment-form
        = render :partial => "comments/form", :locals => {:commentable => @item, :url => item_comments_path(@item)}
    %ul
      - if @item.comment_threads.present?
        - @item.comment_threads.each do |comment|
          = render :partial => "comments/comment", :locals => {:comment => comment}
      .clear

- if @items
  %br
  %h3 Relevant items:
  = render :partial => 'items/list', :locals => {:items => @items}

- if item.paid? && !item.purchased?(current_user)
  %div{ :id => "account-form", :title=>"Buy item" }
    .b-buy-item-window
      .left-side
        .pay-pal-form
          = form_tag create_transaction_orders_path, :remote => true do
            = hidden_field_tag "order[item_id]", @item.id
            .form-container

        .b-buy-item-window-spinner
      .right-side
        %p
          %b Item:
          = "\"#{item.title}\""
        %p
          %b Price:
          = "#{item.price}$"

  :javascript
    function initPayPalForm(){
      $("#account-form:ui-dialog").dialog ("destroy");

      $( "#account-form" ).dialog({
        resizable: false,
        autoOpen: false,
        width: 700,
        modal: true,
        buttons: {
          "Validate card": function() {
            if ($("#account-form form").valid())
              $.post(
                "#{card_verification_orders_path}",
                $('#account-form form').serialize(),
                function(data){
                  showHideNotice(data.type, data.message);
                });
          },
          "Buy item": function() {
            if ($("#account-form form").valid()){
              $('#account-form form').submit();
              $(".ui-dialog-buttonset button").attr("disabled","disabled").addClass("ui-state-disabled");
              $("#account-form.ui-dialog-content .b-buy-item-window-spinner").fadeIn();
              }
          },
          Cancel: function() {
            $( this ).dialog( "close" );
          }
        }
      });

      var states;

      $('#pay_account_state').parent().hide();

      states = $('#pay_account_state').html();

      $('#pay_account_country').change(function() {
        var country, escaped_country, options;
        country = $('#pay_account_country :selected').text();
        escaped_country = country.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
        options = $(states).filter("optgroup[label='" + escaped_country + "']").html();
        if (options) {
          $('#pay_account_state').html(options);
          return $('#pay_account_state').parent().show();
        } else {
          $('#pay_account_state').empty();
          return $('#pay_account_state').parent().hide();
        }
      });

      $(".pay-pal-form form").validate({
        errorElement: "em",
        errorPlacement: function(error, element) {
            error.appendTo( element.closest("p").find(".error_container") );
          },
        rules: {
          "pay_account[verification_value]": {
            required: true,
            number: true,
            minlength: 3,
            maxlength: 4
          },
          "pay_account[number]":{
            required: true,
            number: true,
            minlength: 13,
            maxlength: 16
          }
        }
      });
    }

:javascript
  $(".light-button.new-comment.slide-to").on("click", function(){
    $("form#new_comment").submit();
    return false;
  })

  changeNavigationTab(".tab-item");
