.content
  %h1
    = item.title
  .share
    = render :partial => "layouts/share", :locals => {:title => item.title, :description => item.description}
  .clear

  / Может быть три варианта я их выложу тут все, чтобы отображать
  / нужно убрать класс hidden

  / 1-й Вариант
  .tools.detail.hidden
    .items
      %ul
        - item.contributors.each do |contributor|
          %li
            .item
              = image_tag contributor.avatar_url(:thumb_60), :class => 'popup-user-info', :id => "popup-user-#{contributor.id}"
              .title= text_with_br contributor.full_name

    - if current_user and item.user.id != current_user.id
      - if not current_user.following?(item)
        = link_to item_follow_path(item), :method => :post, :remote => true, :class => "light-button follow follow-item-#{item.id} no-history" do
          Follow Item
          %span
      - else
        = link_to item_unfollow_path(item), :method => :delete, :remote => true, :class => "light-button follow follow-item-#{item.id} no-history" do
          Unfollow Item
          %span


  / 2-й Вариант
  .tools.short
    .items
      %ul
        - item.contributors.each do |contributor|
          %li= image_tag contributor.avatar_url(:thumb_60), :class => 'popup-user-info', :id => "popup-user-#{contributor.id}"


    - if current_user and item.user.id != current_user.id
      - if not current_user.following?(item)
        = link_to item_follow_path(item), :method => :post, :remote => true, :class => "light-button follow follow-item-#{item.id} no-history" do
          Follow Item
          %span
      - else
        = link_to item_unfollow_path(item), :method => :delete, :remote => true, :class => "light-button follow follow-item-#{item.id} no-history" do
          Unfollow Item
          %span

    / кнопка в трех вариантах
    / 1. Вариант
    .light-button.sell
      %b Sell
      item
      = text_field 'search', 'form'
      %span

    / 2. Вариант
    .light-button.buy.green.hidden
      %b Buy
      item
      %span

    / 3. Вариант
    .light-button.set-preview.green.hidden
      %b Set
      preview
      %span

  / есть два варианта
  / 1 Вариант

  .text.pic
    = image_tag('/assets/logo.png', :width => '200')
    - if @item.published?
      %h2= @item.title
    - else
      %h2= @item.title + ' (unpublished)'

    .body
      = simple_format @item.description

    = image_tag '/assets/tmp/p4.png', :class => 'preview'
    .clear

  / 2 Вариант
  .text.video.hidden
    .preview
      = image_tag '/assets/tmp/p5.png'
    .body
      = image_tag('/assets/logo.png', :width => '200')
      %h2= @item.title

      = @item.description
    .clear

#comments.b-comments
  %h3 Comments
  .b-comments-panel
    = link_to '#', :class => 'light-button new-comment slide-to' do
      Make a comment
      %br
      on this Item
      %span
    .b-comments-form#comment-form
      = render :partial => "comments/form", :locals => {:commentable => @item, :url => item_comments_path(@item)}
    %ul
      - if @item.comment_threads.present?
        - @item.comment_threads.each do |comment|
          = render :partial => "comments/comment", :locals => {:comment => comment}
      .clear

- if @items
  %br
  = render :partial => 'items/list', :locals => {:items => @items}

:javascript
  $(".light-button.new-comment.slide-to").on("click", function(){
    $("form#new_comment").submit();
    return false;
  })

  changeNavigationTab(".tab-item");