%h3 Item:

.list
  .list-header
    .nav
      = link_to '#', :class => 'movies selected' do
        %span
        Movies
      = link_to '#', :class => 'articles' do
        %span
        Articles
      = link_to '#', :class => 'presentations' do
        %span
        Presentations
    .filter
      .field
        .tags
          .label Sort by
          = form_for '/' do |f|
            = f.select "", ['Viewed','Viewed']
            = f.select "", ['Length','Length']
            = f.select "", ['Date','Date']
            = f.select "", ['Free','Free']
            = f.select "", ['Paid','Paid']
          .clear
        .search
          = text_field 'search', 'form', :placeholder => 'Free search', :class => 'text-input'
          = button_tag 'Go', :class => 'dark-button'
        .clear
    .clear

    .list-content
      - if @items.present? 
        - @items.each do |item|
          = link_to item_path(item), :class => 'item' do
            .media= image_tag '/assets/tmp/p2.png'
            .text= item.title
        .clear 

        = paginate @items

      - else
        .no-items No items

      .clear
