- if @type == "change_price"
  - price = @item.price > 0 ? "#{@item.price}$" : 'free'
  $("#item-#{@item.id}").attr("class","item #{@item.state}").find(".price>span").html("#{price}");
  $("#item-#{@item.id}").find(".change").remove();
- if @type == "change_keywords"

- else
  $("#ajax-main-container").html("#{escape_javascript(render :partial => 'show', :locals => {:item => @item})}");

  $(".main-content .navigation a").removeClass("selected");
  $(".tab-item").addClass("selected");

  $('form[data-validate]').validate();

showHideNotice("#{@notice[:type]}", "#{@notice[:message]}");