- if items.present?
  - items.each do |item|
    .item{:class => "#{item.state}", :id => "item-#{item.id}"}
      .tools
        - price = item.paid? ? "#{item.price}$" : 'free'
        .price
          Price:
          %span= price

        = link_to 'Change price', '#', :class => 'change', :id => "change-price-#{item.id}"
        = link_to item_path(item), :method => "delete", :remote => true , :confirm => 'Are you sure?', :class => 'delete no-history' do
          Delete Item
          %span
      = link_to item_path(item), :class => "media" do
        -# link =  File.exist?(Rails.root.to_s + "/public#{item.attachment_thumb}") ? item.attachment_thumb : "/assets/default/item_thumb_default.png"
        = image_tag item.attachment_thumb, :class => 'popup-item-info', :id => "popup-item-#{item.id}", :width => "265", :height => "200"
      .info
        .purchase
          %span
          = "Purchase: #{item.amount}"
        .view
          %span
          = "Views: #{item.views_count}"

      = link_to item_path(item), :class => "text" do
        = item.description.truncate(120, :separator => " ")
    %div{ :class => "change-price-form", :id => "form-change-price-#{item.id}", :title=>"Change price", :style => "display: none;" }
      .form
        = form_for item, :url => item_change_price_path(item), :remote => true do |f|
          %p
            = f.label :price
            = f.text_field :price
  .clear
  = paginate items
  .clear
- else
  .no-items No items
