- if contacts.present?
  - contacts.each do |contact|
    %li.b-collegues__item
      - if contact[:photo_url].present?
        = image_tag contact[:photo_url]
      - else
        = image_tag '/assets/default/user_thumb_60_default.png'
      .text
        %input{class: 'selall', type: 'checkbox', id: "#{contact[:email]}",  name: 'checkbox', value: "#{contact[:email]}"}
        %span.fullname= contact[:name].present? ? contact[:name] : contact[:email]