%h3
  Your Account

.clear

.list
  .list-header
    = render :partial => "navigation"
    .list-content
      - if items.present?
        - items.each do |item|
          .item{:class => "#{'in-moderation' unless item.published?}"}
            .tools
              .price= "Price: #{item.paid? ? '5.00$' : 'free'}"
              = link_to 'Change price', '#', :class => 'change' if item.published?
              = link_to item_path(item), :method => "delete", :remote => true , :confirm => 'Are you sure?', :class => 'delete no-history' do
                Delete Item
                %span
            .media
              = image_tag '/assets/tmp/p2.png'
              .info
                .purchase
                  %span
                  = "Purchase: #{item.amount}"
                .view
                  %span
                  = "Views: #{item.views_count}"

            .text= item.description
          %div{ :class => "change-price-form", :id => "change-price-form-#{item.id}", :title=>"Account Info", :style => "display: none;" }
            .form
              = form_for (item_path), :remote => true do |f|
                %p
                  = f.label :price
                  = f.text_field :price
        .clear
        = paginate items, :remote => true
        .clear

:javascript
  $( ".change-price-form:ui-dialog" ).dialog( "destroy" );

  $( ".change-price-form" ).dialog({
    resizable: false,
    autoOpen: false,
    width: 410,
    modal: true,
    buttons: {
      "Change price": function() {
        $('.change-price-form form').submit();
      },
      Cancel: function() {
        $( this ).dialog( "close" );
      }
    }
  });
  $( "a.change" ).click(function() {
      $( "#account-form" ).dialog( "open" );
      return false;
    });
