.nav.account
  = link_to items_account_path(), :remote => :true, :class => "items #{'selected' if params[:action] == 'items'}" do
    %span
    Your Items
  = link_to purchase_account_path(), :remote => :true, :class => "your-purchase #{'selected' if params[:action] == 'purchase'}" do
    %span
    Your
    %br
    Purchase
  = link_to purchased_items_account_path(), :remote => :true, :class => "purchased #{'selected' if params[:action] == 'purchased_items'}" do
    %span
    Purchased
    %br
    Item
  = link_to payments_info_account_path(), :remote => :true, :class => "payments-info #{'selected' if params[:action] == 'payments_info'}" do
    %span
    Payments
    %br
    Info
.filter.account
  .field
    = form_for "", :url => search_items_path, :remote => true, :method => :get do |f|
      .tags
        .label Filter by
        .filter-form
          = f.select "views", options_for_select(['Any Viewed','More Viewed', 'Less Viewed'])
          = f.select "length", options_for_select(['Any Length'])
          = f.select "date", options_for_select(['Any Date','Today', '1 Week', '1 Month', '1 Year'])
          = f.select "price", options_for_select(['Free/Paid','Free', 'Paid'])
        .clear
      .search
        = f.text_field "q", :value => params[:q] ,:placeholder => 'Free search', :class => 'text-input', :id => "qsearch"
        = f.hidden_field "filter_type", :value => "account"
        = f.submit 'Go', :class => 'dark-button'

    .clear
.clear