.nav.account
  - if current_user.role? "doctor"
    = link_to items_account_path(), :class => "pjax items #{'selected' if params[:action] == 'items'}" do
      %span
      Your Items
  = link_to purchase_account_path(), :class => "pjax your-purchase #{'selected' if params[:action] == 'purchase'}" do
    %span
    Your
    %br
    Purchase
  - if current_user.role? "doctor"
    = link_to purchased_items_account_path(), :class => "pjax purchased #{'selected' if params[:action] == 'purchased_items'}" do
      %span
      Purchased
      %br
      Item
  = link_to payments_info_account_path(), :class => "pjax payments-info #{'selected' if params[:action] == 'payments_info'}" do
    %span
    Payments
    %br
    Info
.filter.account
  .field
    = form_for "", :url => search_items_path, :remote => true, :method => :get do |f|
      .tags.auction-filter-form
        .label Filter by
        .filter-form
          %span.viewed= f.select "views", options_for_select(['More Viewed', 'Less Viewed']), :prompt => 'Viewd', :include_blank => true
          %span.identical= f.select "date", options_for_select(['Today', '1 Week', '1 Month', '1 Year']), :prompt => 'Date', :include_blank => true
          %span.identical= f.select "price", options_for_select(['Free', 'Paid']), :prompt => 'Free/Paid', :include_blank => true
          %span.identical= f.select "length", options_for_select(['Length']), :prompt => 'Length', :include_blank => true
        .clear
      .search
        = f.text_field "q", :value => params[:q] ,:placeholder => 'Free search', :class => 'text-input', :id => "qsearch"
        = f.hidden_field "filter_type", :value => "account"
        = f.submit 'Go', :class => 'dark-button'

    .clear
.clear