%h3
  Payments Info

.clear

.list
  .list-header
    = render :partial => "account/navigation"
    .b-purchased-item
      .item
        .title Account Info
        .body
          - if current_user.pay_accounts.present?
            - pay_account = current_user.pay_accounts.first
            Number:
            %br
            = pay_account.number
            %br
            = "Date: #{pay_account.month}.#{pay_account.year}"
            %br
            = "#{pay_account.first_name} #{pay_account.last_name}"
            %br

        = link_to "#{current_user.pay_accounts.present? ? 'Edit' : 'Create'}", '#', :class => 'light-button green edit', :id => "account-form-dialog"

      .item
        .title Schedule
        %ul
          %li.odd
            September 2011
            %span 30 USD
          %li
            September 2011
            %span 30 USD
          %li.odd
            September 2011
            %span 30 USD
          %li
            September 2011
            %span 30 USD
          %li.odd
            September 2011
            %span 30 USD
          %li
            September 2011
            %span 30 USD

      - if current_user.role? "doctor"
        .item
          .title Total
          .summ 172 USD
          = link_to new_item_path , :class => 'light-button green upload' do
            %span
            Uplode more
            %br
            quality items



      .clear

%div{ :id => "account-form", :title=>"Account Info" }
  .pay-pal-form
    = form_for (current_user.pay_accounts.present? ? current_user.pay_accounts.first : PayAccount.new()), :remote => true do |f|
      %p
        = f.label :country
        = f.select :country, ['Russia','England']
      %p
        = f.label :first_name
        = f.text_field :first_name
      %p
        = f.label :last_name
        = f.text_field :last_name
      %p
        = f.label :number, "Credit card number"
        = f.text_field :number
      .type
        = f.label :payment_type
        .type-container#payment-type-toogler
          = f.radio_button :payment_type, "visa"
          = f.label :payment_type_visa, " ", :class => 'lb visa'
          = f.radio_button :payment_type, "master_card"
          = f.label :payment_type_master_card, ' ', :class => 'lb mc'
          = f.radio_button :payment_type, "aaaa"
          = f.label :payment_type_aaaa, ' ', :class => 'lb dc'
          = f.radio_button :payment_type, "bbbb"
          = f.label :payment_type_bbbb, ' ', :class => 'lb ae'
      %p.exp
        = f.label :month, "Expiration date"
        = f.text_field :month, :class => 'd'
        = f.text_field :year, :class => 'm'
        %span cvs
        = f.text_field :verification_value, :class => 'css'
        = link_to 'Whats this?'
      %p
        = f.label :address1, "Billing address 1"
        = f.text_field :address1
      %p
        = f.label :address2, "Billing address 2"
        = f.text_field :address2
      %p
        = f.label :state
        = f.select :state, ['Russia','England']
      %p
        = f.label :city
        = f.text_field :city
      %p.zip
        = f.label :zipcode, "Zip code"
        = f.text_field :zipcode
      %p
        = f.label :phone, "Home Tel"
        = f.text_field :phone
      %p
        = f.label :email, "Email"
        = f.text_field :email

:javascript
  $( "#account-form:ui-dialog" ).dialog( "destroy" );

  $( "#account-form" ).dialog({
    resizable: false,
    autoOpen: false,
    width: 410,
    modal: true,
    buttons: {
      "Save your information with PayPal": function() {
        $('#account-form form').submit();
      },
      Cancel: function() {
        $( this ).dialog( "close" );
      }
    }
  });
  $( "#account-form-dialog" ).click(function() {
      $( "#account-form" ).dialog( "open" );
      return false;
    });

  changeNavigationTab(".tab-account");