%h3
  Payments Info

.clear

.list
  .list-header
    = render :partial => "account/navigation"
    .b-purchased-item
      .item.half.first
        .title Account Info
        .body
          %p
            PayPal account:
            %br
            %span#paypal-account-field= current_user.paypal_account
        = link_to "Edit", '#', :class => 'light-button green edit', :id => "paypal-form-dialog"

      - if current_user.role? "doctor"
        .item.half
          .title Total
          .summ= "#{@icoming_sum} USD"

          %p
            = link_to new_item_path , :class => 'light-button green upload' do
              %span
              Uplode more
              %br
              quality items
      .clear

      - if @transactions.any?
        .item
          .title Schedule
          - months = []
          - first_month = ""

          %table#scedule-table
            - @transactions.each_with_index do |t, index|
              - month = t.updated_at.strftime("%B")
              - first_month = month if first_month.blank?
              - months << "<option value='month-#{month}'>#{month}</option>"

              %tr{:class => "#{cycle('odd','even')} month-#{month} #{'hidden' unless first_month == month}"}
                - is_buyer = (t.buyer_id == current_user.id)
                %td.label
                  %span= "#{ is_buyer ? 'outcoming' : 'incoming' }"
                %td.date= t.updated_at.strftime("%d %B %Y")
                %td.amount= "#{ is_buyer ? (t.amount.to_f/100).to_f : (t.paid_to_seller.to_f/100)} USD"

          = select_tag "monthly", months.uniq.join().html_safe, :id => "month_pagination"

      .clear

#paypal-form{:title=>"Account Info" }
  .pay-pal-form
    = form_for(current_user, :remote => true) do |f| #, :validate => true
      %p
        = hidden_field_tag "paypal_account_change", "1"
        = f.label :paypal_account, "PayPal account"
        = f.email_field :paypal_account

:javascript
  $(document).on("change", "#month_pagination", function(){
    var val = $(this).val();
    $("#scedule-table tr:not(.hidden)").addClass("hidden");
    $("." + val).removeClass("hidden");

  });

  $( "#paypal-form:ui-dialog" ).dialog( "destroy" );

  $( "#paypal-form" ).dialog({
    resizable: false,
    autoOpen: false,
    width: 410,
    modal: true,
    buttons: {
      "Save your information with PayPal": function() {
        $('#paypal-form form').submit();
        $( this ).dialog( "close" );
      },
      Cancel: function() {
        $( this ).dialog( "close" );
      }
    }
  });
  $( "#paypal-form-dialog" ).click(function() {
      $( "#paypal-form" ).dialog( "open" );
      return false;
    });
  changeNavigationTab(".tab-account");

