- unless content_for? :logo 
  - content_for :logo do 
    = link_to '', root_path, :class => 'logo b-admin-header-logo' 

.b-auth.center
  = content_for :logo

  .buttons
    = link_to '#sign-up', :class => 'sign-up selected' do
      SIGN UP
      %span to create account
    = link_to '#sign-in', :class => 'sign-in' do
      SIGN IN
      %span to your account

  .container
    .content
      .text
        Maia is a marketplace for specialized doctors to explore, share, create and sell original content.
      .media= image_tag "/assets/tmp/p1.jpg"
    #sign-up.sign-up-tab.sign-tab
      = form_for(User.new, :url => registration_path(:user), :validate => true, :html => { id: "sign_up_form", class: "sign_up_form" }) do |f|
        / = devise_error_messages!
        .inputs
          %p= f.text_field :full_name, :placeholder => 'Full Name', :validate => true
          = render "common/pick_community"
          .dropdown-checklist-container
            %p.doctor-only= f.text_field :profession_and_degree, placeholder: 'Profession and degree', autocomplete: :off 
            
          %p= f.text_field :email, :placeholder => 'Email Address'
          %p= f.password_field :password, :placeholder => 'Password', :id => 'sign_up_user_password'
          %p= f.password_field :password_confirmation, :placeholder => 'Verify Password', :id => 'sign_up_user_password_confirmation'
          
          .hidden= f.submit ""

        = link_to '#', :class => 'submit-btn', :onclick=>"$('#sign_up_form').submit(); return false;" do
          SIGN UP
          %span to create an account
    .sign-in-tab.sign-tab.hidden
      = form_for User.new, :url => session_path(:user), :html => { id: "sign_in_form", class: "sign_in_form" } do |f|
        .inputs
          %p= f.text_field :email, :placeholder => 'Email Address'
          %p= f.password_field :password, :placeholder => 'Password', :id => 'sign_in_user_password'
          - failure_counter = $redis.get(session[:session_id])
          - if failure_counter.to_i >= 3
            = show_simple_captcha(:label => '')
                  
          %p.hidden= f.submit "Submit"
          = link_to "Forgot password ?", "#", :class => 'forgot-password', :id => "btn-forgot-password"
        = link_to '#', :class => 'submit-btn', :onclick=>"$(this).closest('form').submit();" do
          SIGN IN
          %span to your account
    .clear
    
    - if user_signed_in?
      %div{ :id => "popup-forgot-password", :title=>"Forgot Password ?", :style => "display: none" }
        = render :template => 'devise/passwords/new', :locals => {:resource => @resource, :resource_name => resource_name }

    :javascript
      $("#popup-forgot-password:ui-dialog").dialog ("destroy");

      $("#popup-forgot-password").dialog({
        autoOpen: false,
        resizable: false,
        width: 294,
        minHeight: "auto",
        modal: true,
        buttons: {
          "Submit": function() {
            $(this).find("form").submit();
          },
          Cancel: function() {
            $( this ).dialog( "close" );
          }
        }
      });

      $("#btn-forgot-password").click(function() {
        $("#popup-forgot-password").dialog( "open" );
        return false;
      });
