.b-auth.center
  = link_to '', root_path, :class => 'logo'
  .buttons
    = link_to '#sign-up', :class => 'sign-up selected' do
      SIGN UP
      %span to create account
    = link_to '#sign-in', :class => 'sign-in' do
      SIGN IN
      %span to your account

  .container
    .content
      .text
        Maia is a marketplace for specialized doctors to explore, share, create and sell original content.
      .media= image_tag "/assets/tmp/p1.jpg"
    #sign-up.sign-up-tab.sign-tab
      = form_for(User.new, :as => User.new, :url => registration_path(:user), :validate => true) do |f|
        / = devise_error_messages!
        .inputs
          .toggler
            %b I am:
            = f.radio_button :role, "doctor"
            = f.label :role_doctor, 'a Doctor', :class => 'doctor checked'
            = f.radio_button :role, "patient"
            = f.label :role_patient, 'a Patient', :class => 'patient'
          %p= f.text_field :full_name, :placeholder => 'Full Name', :validate => true
          .dropdown-checklist-container
            %p.doctor-only= f.text_field :profession_and_degree, placeholder: 'Profession and degree', class: "dropdown-textbox", autocomplete: :off 
            .dropdown-selectbox.multiselect{ title: "Select Communities", style: "width: 310px;" }
              - Community.all.each do |com|
                = check_box_tag "user[community_ids][]", com.id, false, id: dom_id(com)
                = label_tag dom_id(com), com.name, icon: "#{com.icon}"
                %br
              Didn’t ﬁnd your specialized medical community? 
              Ask Maia to establish it. (email 
              %a{ href: "mailto:team@maia360.com" }team@maia360.com)
              %hr
              %button Done
          %p= f.text_field :email, :placeholder => 'Email Address'
          %p= f.password_field :password, :placeholder => 'Password', :id => 'sign_up_user_password'
          %p= f.password_field :password_confirmation, :placeholder => 'Verify Password', :id => 'sign_up_user_password_confirmation'
          
              
                
                
            
          
          
          .hidden= f.submit ""

        = link_to '#', :class => 'submit-btn', :onclick=>"$(this).closest('form').submit(); return false;" do
          SIGN UP
          %span to create an account
    .sign-in-tab.sign-tab.hidden
      = form_for User.new, :as => User.new, :url => session_path(:user) do |f|
        .inputs
          %p= f.text_field :email, :placeholder => 'Email Address'
          %p= f.password_field :password, :placeholder => 'Password', :id => 'sign_in_user_password'
          - failure_counter = $redis.get(session[:session_id])
          - if failure_counter.to_i >= 3
            = show_simple_captcha(:label => '')
                  
          %p.hidden= f.submit "Submit"
          = link_to "Forgot password ?", "#", :class => 'forgot-password', :id => "btn-forgot-password"
        = link_to '#', :class => 'submit-btn', :onclick=>"$(this).closest('form').submit();" do
          SIGN IN
          %span to your account
    .clear

    %div{ :id => "popup-forgot-password", :title=>"Forgot Password ?", :style => "display: none" }
      = render :template => 'devise/passwords/new', :locals => {:resource => @resource, :resource_name => resource_name }
    
    
  
    :javascript
      $("#popup-forgot-password:ui-dialog").dialog ("destroy");

      $("#popup-forgot-password").dialog({
        autoOpen: false,
        resizable: false,
        width: 294,
        minHeight: "auto",
        modal: true,
        buttons: {
          "Submit": function() {
            $(this).find("form").submit();
          },
          Cancel: function() {
            $( this ).dialog( "close" );
          }
        }
      });

      $("#btn-forgot-password").click(function() {
        $("#popup-forgot-password").dialog( "open" );
        return false;
      });
