.b-auth.center
  = link_to '', root_path, :class => 'logo'
  .buttons
    = link_to '#sign-up', :class => 'sign-up selected' do
      SIGN UP
      %span quick blabla text
    = link_to '#sign-in', :class => 'sign-in' do
      SIGN IN
      %span quick blabla text

  .container
    .content
      .text
        The quick brown fox jumps over the lazy dog.
        Foxy parsons quiz and cajole the wiki-girl.
      .media= image_tag "/assets/tmp/p1.jpg"
    #sign-up.sign-up-tab.sign-tab
      = form_for(User.new, :as => User.new, :url => registration_path(:user), :validate => true) do |f|
        / = devise_error_messages!
        .inputs
          .toggler
            %b I am
            = f.radio_button :role, "doctor"
            = f.label :role_doctor, 'a Doctor', :class => 'doctor checked'
            = f.radio_button :role, "patient"
            = f.label :role_patient, 'a Patient', :class => 'patient'
          %p= f.text_field :full_name, :placeholder => 'Full Name', :validate => true
          %p.doctor-only= f.text_field :profession_and_degree, :placeholder => 'Profession and degree'
          %p= f.text_field :email, :placeholder => 'Email Address'
          %p= f.password_field :password, :placeholder => 'Password'
          %p= f.password_field :password_confirmation, :placeholder => 'Verify Password'
          .hidden= f.submit ""

        = link_to '#', :class => 'submit-btn', :onclick=>"$(this).closest('form').submit(); return false;" do
          SIGN UP
          %span to create an account
    .sign-in-tab.sign-tab.hidden
      = form_for User.new, :as => User.new, :url => session_path(:user) do |f|
        .inputs
          %p= f.text_field :email, :placeholder => 'Email Address'
          %p= f.password_field :password, :placeholder => 'Password'
          - failure_counter = $redis.get(session[:session_id])
          - if failure_counter.to_i >= 3
            = show_simple_captcha(:label => '')
          %p.hidden= f.submit "Submit"
        = link_to '#', :class => 'submit-btn', :onclick=>"$(this).closest('form').submit();" do
          SIGN IN
          %span to your account
    .clear
    // :javascript
