.b-search-engine.center
  = link_to '', root_path, :class => 'logo'
  .search-container
    = form_for "", :url => search_items_path, :remote => true, :method => :get do |f|
      = f.text_field "q", :value => params[:q], :placeholder => 'Search for presentations, articles & movies', :class => 'text-input', :id => "main-search"
      = f.hidden_field "filter_type", :value => "basic"
      = f.hidden_field "filter_location", :value => "main"
      = f.submit '', :class => 'btn search'
  - if can? :create, Item
    = link_to new_item_path, :class => 'btn upload popup-cleaner pjax' do
      Upload
      %span

  = link_to "", '#', :class => 'btn explore'
  .b-explore-popup.hidden
    .container
      .content
        .title A few words explain about explore
        .column.with-border
          %h3 Title here
          %ul

            - User.limit(6).each do |user|
              %li= link_to user.full_name, user_path(user)

        .column
          %h3 Title here
          %ul
            - Tag.limit(6).each do |tag|
              %li= link_to tag.name, '#'
        .clear