.b-search-engine.center
  = link_to '', root_path, :class => 'logo'
  .search
    = form_tag search_path, :remote => true, :method => :get do
      = text_field_tag SearchParams.query_param, nil, :placeholder => 'Search for presentations, articles & movies', :class => 'text-input'
      = submit_tag 'Search', :class => 'dark-button'
  - if can? :create, Item
    = link_to new_item_path, :remote => true, :class => 'btn upload' do
      Upload
      %span
  - else
    = link_to new_item_path, :remote => true, :class => 'btn upload' do
      Upload
      %span
  = link_to '#', :class => 'btn light-button explore' do
    Explore
    %span
  .b-explore-popup.hidden
    .container
      .content
        .title A few words explain about explore
        .column.with-border
          %h3 Title here
          %ul
            %li some item here
            %li= link_to 'some item here', '#'
            %li some item here
            %li some item here
            %li= link_to 'some item here', '#'
            %li= link_to 'some item here', '#'

        .column
          %h3 Title here
          %ul
            %li some item here
            %li= link_to 'some item here', '#'
            %li some item here
            %li some item here
            %li= link_to 'some item here', '#'
            %li= link_to 'some item here', '#'
        .clear