.b-search-engine.center
  = link_to '', root_path, :class => 'logo'
  .search
    = form_for "", :url => search_items_path, :remote => true, :method => :get do |f|
      = f.text_field "q", :value => params[:q], :placeholder => 'Search for presentations, articles & movies', :class => 'text-input', :id => "main-search"
      = f.hidden_field "filter_type", :value => "basic"
      = f.hidden_field "filter_location", :value => "main"
      = f.submit 'Search', :class => 'dark-button'
  - if can? :create, Item
    = link_to new_item_path, :remote => true, :class => 'btn upload popup-cleaner' do
      Upload
      %span

  = link_to '#', :class => 'btn light-button explore' do
    Explore
    %span
  .b-explore-popup.hidden
    .container
      .content
        .title A few words explain about explore
        .column.with-border
          %h3 Title here
          %ul
            %li some item here
            %li= link_to 'some item here', '#'
            %li some item here
            %li some item here
            %li= link_to 'some item here', '#'
            %li= link_to 'some item here', '#'

        .column
          %h3 Title here
          %ul
            %li some item here
            %li= link_to 'some item here', '#'
            %li some item here
            %li some item here
            %li= link_to 'some item here', '#'
            %li= link_to 'some item here', '#'
        .clear