!!!
%html
  %head
    %title Orthodontics360
    = stylesheet_link_tag "application", :debug => Rails.env.development?
    = javascript_include_tag "application", :debug => Rails.env.development?
    = csrf_meta_tags
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=9"}
  %body
    = render :partial => "layouts/ie_fix", :inline => true

    .header
      = render :partial => "layouts/general_links"
      .b-admin-header.center
        = link_to '', root_path, :class => 'b-admin-header-logo'
        %h1.b-admin-header-title Administrator confirmation items


    .section.center
      .main-content
        .user-info
          = image_tag current_user.avatar_url(:thumb_70), :alt => "#{current_user.full_name}", :id => "popup-user-#{current_user.id}", :class => "popup-user-info my-thumb_70"
          %span.title= current_user.full_name
        .clear
        .panel.no-padding
          #ajax-main-container{"data-pjax-container" => ""}= yield


    .l-footer