!!!
%html
  %head
    %title Orthodontic360
    = stylesheet_link_tag "application", :debug => Rails.env.development?
    = javascript_include_tag "application", :debug => Rails.env.development?
    = csrf_meta_tags
  %body
    .notice= notice
    .alert= alert
    = render :partial => "layouts/ie_fix"
    .header
      = render :partial => "layouts/general_links"
      
      - if current_user.present?
        = render :partial => "layouts/search_engine"
      - else
        = render :partial => "layouts/header_auth"      
    .clear
    .section.center
      - if current_user.present?
        .section.center
          .wrapper
            .main-content
              .user-info
                = image_tag current_user.avatar_url(:thumb_70), :width => '70', :height => '70', :alt => 'Yossy Mendelovich . MD', :class => 'popup-user-info my-thumb_70'
                %span.title Yossy Mendelovich . MD
              .light-button.sale
                Our Ordothontics Sale
                %span
              .clear
              .navigation
                %ul
                  %li
                    = link_to root_path, :class => "#{ "selected" if params[:controller] == "home" && params[:action] == 'index'  }" do
                      HOME
                      %span bla bla bla

                  %li
                    = link_to '#' do
                      ITEM
                      %span bla bla bla

                  %li
                    = link_to edit_user_path(current_user), :class => "large #{ "selected" if params[:controller] == "users" && params[:action] == 'edit'  }" do
                      SETTINGS
                      %span bla bla bla

                  %li
                    = link_to '#' do
                      ACCOUNT
                      %span bla bla bla
                  %li
                    = link_to '#' do
                      PUBLIC
                      %span bla bla bla
                  %li
                    = link_to '#', :class => 'large' do
                      COLLEGUES
                      %span bla bla bla
                  %li
                    = link_to user_path(current_user), :class => "large #{ "selected" if params[:controller] == "users" && params[:action] == 'show'  }" do
                      YOUR PROFILE
                      %span bla bla bla

              .panel
                = yield
            - if params[:controller] == 'users' && params[:action] == 'edit'
              .b-settings-nav 
                = link_to '#', :class => 'b-settings-nav-bio selected' do
                  Medical
                  %span Your medical information
                = link_to '#', :class => 'b-settings-nav-notification' do
                  Notification
                  %span Email preferences...
      - else
        %h1
          Featured on
          %b Orthodontics
          %span.unauthorized
            %b= link_to 'Sign up', "#{root_path}#sign-up"
            in order to view content

        = render :partial => 'layouts/relevant_items'


    - if current_user.present?
      = link_to 'Logout', destroy_user_session_path, :method => 'DELETE'

  

    .l-footer