!!!
%html
  %head
    %title Orthodontics360
    = stylesheet_link_tag "application", :debug => Rails.env.development?
    = javascript_include_tag "application", :debug => Rails.env.development?
    = csrf_meta_tags
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=9"}
  %body
    = render :partial => "layouts/ie_fix", :inline => true
    .header
      = render :partial => "layouts/general_links", :inline => true

      - if current_user.present?
        = render :partial => "layouts/search_engine", :inline => true
      - else
        = render :partial => "layouts/header_auth", :inline => true
    .clear
    .section.center
      - if current_user.present?
        .wrapper
          .main-content
            .user-info
              = image_tag current_user.avatar_url(:thumb_70), :alt => "#{current_user.full_name}", :id => "popup-user-#{current_user.id}", :class => "popup-user-info my-thumb_70"
              %span.title= current_user.full_name
            .light-button.sale
              Our Ordothontics Sale
              %span
            .clear
            .navigation
              %ul
                %li
                  = link_to root_path, :class => "pjax tab-home #{ 'selected' if params[:controller] == 'home' && params[:action] == 'index'  }" do
                    HOME
                    %span bla bla bla

                %li
                  = link_to '#', :class => "tab-item #{ 'selected' if params[:controller] == 'items' }", :onClick => "return false;" do
                    ITEM
                    %span bla bla bla

                %li
                  = link_to edit_user_path(current_user), :class => "pjax tab-settings #{'selected' if params[:controller] == 'users' && params[:action] == 'edit'  }" do
                    SETTINGS
                    %span bla bla bla

                %li
                  = link_to "#{current_user.role?("doctor") ? items_account_path(current_user) : purchase_account_path}", :class => "pjax tab-account #{'selected' if params[:controller] == 'account'}" do
                    ACCOUNT
                    %span bla bla bla
                %li
                  = link_to user_path(current_user, :type => "public"), :class => "pjax tab-public" do
                    PUBLIC
                    %span bla bla bla
                %li
                  = link_to users_path, :class => "pjax tab-collegues large" do
                    COLLEGUES
                    %span bla bla bla
                %li
                  = link_to user_path(current_user), :class => "pjax tab-profile large" do
                    YOUR PROFILE
                    %span bla bla bla

            .panel#ajax-main-container{"data-pjax-container" => ""}= yield

          .l-settings-navigation{:class => "#{'hidden' unless params[:controller] == 'users' && params[:action] == 'edit'}"}
            .b-settings-nav
              = link_to '#', :class => 'b-settings-nav-bio selected' do
                Medical
                %span Your medical information
              = link_to '#', :class => 'b-settings-nav-notification' do
                Notification
                %span Email preferences...

      - else
        %h1
          Featured on
          %b Orthodontics
          %span.unauthorized
            %b= link_to 'Sign up', "#{root_path}#sign-up"
            in order to view content

        = render :partial => 'layouts/relevant_items', :inline => true
    .l-footer

    - if flash.present?
      - flash.each do |key, value|
        = content_tag(:div, value.is_a?(Array) ? raw(value.join(". ")) : value, :class => "flash_#{key} notice")
      %script
        $(function(){hideNotice();});

    - if user_signed_in?
      = render :partial => 'users/popup', :locals => {:user => current_user}
