!!!
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : "Maia360"
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=9"}
    %meta{:property => "og:title", :content => "Orthodontics360"}
    %meta{:property => "og:description", :content => "Orthodontics360"}
    %link{:rel => "icon", :href => "/assets/favicon.png", :sizes => "16x16"}
    %link{:rel => "shortcut icon", :href => "/assets/favicon.ico", :type => "image/x-icon"}
    = stylesheet_link_tag "application", :debug => Rails.env.development?
    = javascript_include_tag "application"
    = javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f0f49d4565a51b3"
    = csrf_meta_tags
  %body
    = render :partial => "layouts/ie_fix", :inline => true
    .header
      = render :partial => "layouts/general_links", :inline => true

      - if current_user.present?
        = render :partial => "layouts/search_engine", :inline => true
      - else
        = render :partial => "layouts/header_auth", :inline => true
    .clear
    .section.center
      - if current_user.present?
        .wrapper{"data-pjax-container" => ""}
          .main-content
            .line-3d
            .user-info
              = image_tag current_user.avatar_url(:thumb_70), :alt => "#{current_user.full_name}", :id => "popup-user-#{current_user.id}", :class => "popup-user-info my-thumb_70"
              %span.title= current_user.full_name
            = link_to "","/orthodontic_sale", :class => "btn our-sale", :remote => true
            .clear
            .navigation
              %ul
                %li
                  = link_to root_path, :class => "pjax tab-home #{ 'selected' if params[:controller] == 'home' && params[:action] == 'index'  }" do
                    HOME
                    %span General things

                %li
                  - item_tab_url = current_user.follows_by_type('Item').present? ? following_items_path : '#'
                  = link_to item_tab_url, :class => "tab-item #{ 'selected' if params[:controller] == 'items' }"  do
                    ITEM
                    - if params[:action] == 'following'
                      %span General things
                    - else
                      %span Picked items

                %li
                  = link_to edit_user_path(current_user), :class => "pjax tab-settings #{'selected' if params[:controller] == 'users' && params[:action] == 'edit'  }" do
                    SETTINGS
                    %span Medical bio

                %li
                  = link_to "#{can?(:create, Item) ? items_account_path : purchase_account_path}", :class => "pjax tab-account #{'selected' if params[:controller] == 'account'}" do
                    ACCOUNT
                    %span Medical store
                %li
                  = link_to user_path(current_user, :type => "public"), :class => "pjax tab-public" do
                    PUBLIC
                    %span Your profile
                %li
                  = link_to users_path(), :class => "pjax tab-collegues large" do
                    COLLEAGUES
                    %span Your colleagues
                %li
                  = link_to user_path(current_user), :class => "pjax tab-profile large" do
                    YOUR PROFILE
                    %span Medical specialization

            .panel#ajax-main-container= yield

          - if params[:controller] == 'items' && params[:action] == 'show'
            %br
            = render :partial => 'items/relevant_items_list', :locals => {:items => @items, :current_item => @item}

          .l-settings-navigation{:class => "#{'hidden' unless params[:controller] == 'users' && params[:action] == 'edit'}"}
            .b-settings-nav
              - if current_user.role? "doctor"
                = link_to '#', :id => "b-info",:class => 'b-settings-nav-bio selected' do
                  Medical
                  %span Your medical information
              = link_to '#', :id => "b-notification",:class => "b-settings-nav-notification #{'selected' unless current_user.role?('doctor')}"  do
                Notification
                %span Email preferences...
              - if current_user.role? "doctor"
                = link_to '#', :id => "b-privacy", :class => "b-settings-nav-privacy"  do
                  Privacy
                  %span Privacy settings
                = link_to '#', :id => "b-communities", :class => "b-settings-nav-communities"  do
                  Communities
                  %span Pick your communities
                 

      - else
        %h1
          Featured on
          %b Orthodontics
          %span.unauthorized
            %b= link_to 'Sign up', "#{root_path}#sign-up"
            in order to view content
        .section.center
          #ajax-main-container{"data-pjax-container" => ""}
            .wrapper
              .main-content
                .line-3d
                = yield



    .l-footer

    - if flash.present?
      - flash.each do |key, value|
        = content_tag(:div, value.is_a?(Array) ? raw(value.join(". ")) : value, :class => "flash_#{key} notice")
      %script
        $(function(){hideNotice();});

    - if user_signed_in?
      = render :partial => 'users/popup', :locals => {:user => current_user}

      = content_for(:popup_set_preview) if content_for?(:popup_set_preview)