!!!
%html
  %head
    %title= content_for?(:title) ? content_for(:title) : "Orthodontics"
    %link{:rel => "icon", :href => "/assets/favicon.png", :sizes => "16x16"}
    %link{:rel => "shortcut icon", :href => "/assets/favicon.ico", :type => "image/x-icon"}
    = stylesheet_link_tag "application", :debug => Rails.env.development?
    = javascript_include_tag "application", :debug => Rails.env.development?
    = javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f0f49d4565a51b3"
    = csrf_meta_tags
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=9"}
  %body
    = render :partial => "layouts/ie_fix", :inline => true
    .header
      = render :partial => "layouts/general_links", :inline => true

      - if current_user.present?
        = render :partial => "layouts/search_engine", :inline => true
      - else
        = render :partial => "layouts/header_auth", :inline => true
    .clear
    .section.center
      - if current_user.present?
        .wrapper{"data-pjax-container" => ""}
          .main-content
            .user-info
              = image_tag current_user.avatar_url(:thumb_70), :alt => "#{current_user.full_name}", :id => "popup-user-#{current_user.id}", :class => "popup-user-info my-thumb_70"
              %span.title= current_user.full_name
            = link_to "","/orthodontic_sale", :class => "btn-our-sales", :remote => true
            .clear
            .navigation
              %ul
                %li
                  = link_to root_path, :class => "pjax tab-home #{ 'selected' if params[:controller] == 'home' && params[:action] == 'index'  }" do
                    HOME
                    %span bla bla bla

                %li
                  = link_to '#', :class => "tab-item #{ 'selected' if params[:controller] == 'items' }", :onClick => "return false;" do
                    ITEM
                    %span bla bla bla

                %li
                  = link_to edit_user_path(current_user), :class => "pjax tab-settings #{'selected' if params[:controller] == 'users' && params[:action] == 'edit'  }" do
                    SETTINGS
                    %span bla bla bla

                %li
                  = link_to "#{current_user.role?("doctor") ? items_account_path : purchase_account_path}", :class => "pjax tab-account #{'selected' if params[:controller] == 'account'}" do
                    ACCOUNT
                    %span bla bla bla
                %li
                  = link_to user_path(current_user, :type => "public"), :class => "pjax tab-public" do
                    PUBLIC
                    %span bla bla bla
                %li
                  = link_to users_path(), :class => "pjax tab-collegues large" do
                    COLLEAGUES
                    %span bla bla bla
                %li
                  = link_to user_path(current_user), :class => "pjax tab-profile large" do
                    YOUR PROFILE
                    %span bla bla bla

            .panel#ajax-main-container= yield

          - if params[:controller] == 'items' && params[:action] == 'show' && @items
            %br
            %h3 Relevant items:
            = render :partial => 'items/list', :locals => {:items => @items}

          .l-settings-navigation{:class => "#{'hidden' unless params[:controller] == 'users' && params[:action] == 'edit'}"}
            .b-settings-nav
              - if current_user.role? "doctor"
                = link_to '#', :id => "b-info",:class => 'b-settings-nav-bio selected' do
                  Medical
                  %span Your medical information
              = link_to '#', :id => "b-notification",:class => "b-settings-nav-notification #{'selected' unless current_user.role?('doctor')}"  do
                Notification
                %span Email preferences...
              - if current_user.role? "doctor"
                = link_to '#', :id => "b-privacy", :class => "b-settings-nav-privacy"  do
                  Privacy
                  %span Privacy settings

      - else
        %h1
          Featured on
          %b Orthodontics
          %span.unauthorized
            %b= link_to 'Sign up', "#{root_path}#sign-up"
            in order to view content
        .section.center
          #ajax-main-container{"data-pjax-container" => ""}
            .wrapper
              .main-content= yield

              = content_for(:relevant_items) if content_for?(:relevant_items)

    .l-footer

    - if flash.present?
      - flash.each do |key, value|
        = content_tag(:div, value.is_a?(Array) ? raw(value.join(". ")) : value, :class => "flash_#{key} notice")
      %script
        $(function(){hideNotice();});

    - if user_signed_in?
      = render :partial => 'users/popup', :locals => {:user => current_user}

      = content_for(:popup_set_preview) if content_for?(:popup_set_preview)

