!!!
%html
  %head
    %title Orthodontics360
    = stylesheet_link_tag "application", :debug => Rails.env.development?
    = javascript_include_tag "application", :debug => Rails.env.development?
    = csrf_meta_tags
  %body

    / = content_tag(:div, flash[:error], :id => "flash_error") if flash[:error]
    / = content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice]
    / = content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert]

    = render :partial => "layouts/ie_fix", :inline => true

    .header
      = render :partial => "pages/general_links", :inline => true
      = render :partial => "pages/search_engine", :inline => true

    .section.center
      .wrapper
        .main-content
          .user-info
            = image_tag '/assets/tmp/p3.png', :width => '70', :height => '70', :alt => 'Yossy Mendelovich . MD', :class => 'popup-user-info'
            %span.title Yossy Mendelovich . MD
          .light-button.sale
            Our Ordothontics Sale
            %span
          .clear
          .navigation
            %ul
              %li
                = link_to '#', :class => 'selected' do
                  HOME
                  %span bla bla bla

              %li
                = link_to '#' do
                  ITEM
                  %span bla bla bla

              %li
                = link_to '#' do
                  SETTINGS
                  %span bla bla bla

              %li
                = link_to '#' do
                  ACCOUNT
                  %span bla bla bla
              %li
                = link_to '#' do
                  PUBLIC
                  %span bla bla bla
              %li
                = link_to '#', :class => 'large' do
                  COLLEGUES
                  %span bla bla bla
              %li
                = link_to '#', :class => 'large' do
                  YOUR PROFILE
                  %span bla bla bla

          .panel
            = yield


        - if params[:controller] == 'pages' && params[:action] == 'item'
          = render :partial => 'relevant_items', :inline => true

        - if params[:controller] == 'pages' && params[:action] == 'settings'
          .b-settings-nav
            = link_to '#', :class => 'b-settings-nav-bio selected' do
              Medical
              %span Your medical information
            = link_to '#', :class => 'b-settings-nav-notification' do
              Notification
              %span Email preferences...



  .b-popup-set-preview.popup-container.top
    .container
      = form_for '/' do |f|
        %ul
          %li
            = f.radio_button "radio", "1"
            = label '_radio', '1', 'Show at most this number of pages', :class => 'checked'
            = f.text_field ''
          %li
            = f.radio_button "radio", "2"
            = label '_radio', '2', 'Show at most this number of pages'
            = f.text_field ''
          %li
            = f.radio_button "radio", "3"
            = label '_radio', '3', 'Show at most this number of pages'
            = f.text_field ''
      %p
        %strong Note:
        Show at most this number of pages Show at most thiser of pages

    .corner

  .b-popup-item-info.popup-container.left
    .container
      %h3
        Title goes here text title goes Title goes
        here text title goes
      %p
        %span.date
          %b Date
          12/06/11
          %b Reads:
          135582
      %p
        %b.title Summery
        %br
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard r since
        the 1500s, when an unknown printer. Lorem Ipsum is simply dummy
        text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's ser since the 1500s, when an unknown printer.
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has.

      .authors
        %b.title Authors
        %ul
          %li
            = link_to '#' do
              = image_tag '/assets/tmp/p3.png', :width => '45', :height => '45', :alt => 'Yossy Mendelovich . MD'
              %br
              Yossy
              %br
              Mendelovich
          %li
            = link_to '#' do
              = image_tag '/assets/tmp/p3.png', :width => '45', :height => '45', :alt => 'Yossy Mendelovich . MD'
              %br
              Yossy
              %br
              Mendelovich
          %li
            = link_to '#' do
              = image_tag '/assets/tmp/p3.png', :width => '45', :height => '45', :alt => 'Yossy Mendelovich . MD'
              %br
              Yossy
              %br
              Mendelovich
          %li
            = link_to '#' do
              = image_tag '/assets/tmp/p3.png', :width => '45', :height => '45', :alt => 'Yossy Mendelovich . MD'
              %br
              Yossy
              %br
              Mendelovich

      %p
        %b.title Keywords
        %br
        some word | Nickel | Tooth migration | some word | Nickel |
        Tooth migration | some word | Nickel | Tooth migration |
        some word | Nickel | Tooth migration |

    .tools
      = link_to '#', :class => 'light-button folow-item' do
        Follow Item
        %span
      = link_to '#', :class => 'light-button go-to-article' do
        Go to Article
        %span
      = link_to '#', :class => 'light-button make-pdf' do
        Make PDF
        %span
      %br
      = link_to '#', :class => 'light-button sell' do
        %b Sell
        this item

    .corner

    .l-footer