!!!
%html
  %head
    %title Orthodontic360
    = stylesheet_link_tag "application", :debug => Rails.env.development?
    = javascript_include_tag "application", :debug => Rails.env.development?
    = csrf_meta_tags
  %body
    %header
      = render :partial => "pages/general_links"
      = render :partial => "pages/search_engine"

    %section.center
      #main-content
        .user-info
          = image_tag '/assets/tmp/p3.png', :width => '70', :height => '70', :alt => 'Yossy Mendelovich . MD'
          %span.title Yossy Mendelovich . MD
        .light-button.sale
          Our Ordothontics Sale
          %span
        .clear
        .navigation
          %ul
            %li
              = link_to '#', :class => 'selected' do
                HOME
                %span bla bla bla

            %li
              = link_to '#' do
                ITEM
                %span bla bla bla

            %li
              = link_to '#' do
                SETTINGS
                %span bla bla bla

            %li
              = link_to '#' do
                ACCOUNT
                %span bla bla bla
            %li
              = link_to '#' do
                PUBLIC
                %span bla bla bla
            %li
              = link_to '#', :class => 'large' do
                COLLEGUES
                %span bla bla bla
            %li
              = link_to '#', :class => 'large' do
                YOUR PROFILE
                %span bla bla bla

        .panel
          = yield
      = render :partial => 'relevant_items'
  %footer


  #popup
    .container
    .corner.left
